{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8" />
        {% block stylesheet %}
            {% include 'IsicsOpenMiamMiamBundle::baseStylesheets.html.twig' %}
        {% endblock %}
    </head>
    <body>
        <div class="container">
            {% block header_nav %}
                <ul id="header-nav" class="nav nav-pills pull-right">
                    {% if app.user %}
                        <li>
                            <a href="{{ path('fos_user_profile_edit') }}">
                                <span class="glyphicon glyphicon-user"></span>
                                {{ 'my_account'|trans }} ({{ app.user }})
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_security_logout') }}">
                                <span class="glyphicon glyphicon-off"></span>
                                {{ 'logout'|trans }}
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('fos_user_profile_edit') }}">
                                <span class="glyphicon glyphicon-user"></span>
                                {{ 'my_account'|trans }}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            {% endblock %}

            {% block header %}
                <header>
                    <div id="header-logo">
                        <a href="{{ path('open_miam_miam.homepage') }}">{% include 'IsicsOpenMiamMiamBundle::baseLogo.html.twig' %}</a>
                    </div>
                </header>
            {% endblock %}

            {% block global_content %}
                {% include 'IsicsOpenMiamMiamBundle::messages.html.twig' %}
                {% block content %}{% endblock %}
            {% endblock %}

            <footer>
                <hr />
                {% include 'IsicsOpenMiamMiamBundle::copyright.html.twig' %}
            </footer>
        </div>

        {% block javascript %}
            {% include 'IsicsOpenMiamMiamBundle::baseJavascripts.html.twig' %}
        {% endblock %}
    </body>
</html>