{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% embed 'IsicsOpenMiamMiamBundle::base.html.twig' %}
    {% block title %}{{ 'news'|trans }}{% endblock %}

    {% block content %}
        <ol class="breadcrumb">
            <li><a href="{{ path('open_miam_miam.homepage') }}">{{ 'homepage'|trans }}</a></li>
            <li class="active">{{ 'news'|trans }}</li>
        </ol>

        <h1>{{ 'news.list.title'|trans }}</h1>

        <div class="list-group">
            {% for article in articles %}
                <a href="{{ path('open_miam_miam.article.show', {'articleSlug': article.slug, 'articleId': article.id}) }}" class="list-group-item">
                    <span class="badge">{{ article.publishedAt|format_date(null, null, null, constant('IntlDateFormatter::SHORT')) }}</span>
                    <h2 class="list-group-item-heading">{{ article.title }}</h2>
                    <p class="list-group-item-text">{{ article.body|striptags|truncate(250) }}</p>
                </a>
            {% endfor %}
        </div>
    {% endblock %}
{% endembed %}
