{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% extends 'IsicsOpenMiamMiamBundle::base.html.twig' %}

{% block title %}
    {% if producer.city %}
        {{ 'producer_with_city.title'|trans({'%producer_name%': producer.name, '%producer_zip_code%': producer.zipCode, '%producer_city%': producer.city}, 'seo') }}
    {% else %}
        {{ 'producer.title'|trans({'%producer_name%': producer.name}, 'seo') }}
    {% endif %}
{% endblock %}

{% block meta_description %}
    {% if producer.city %}
        {{ 'producer_with_city.meta_description'|trans({'%producer_name%': producer.name, '%producer_zip_code%': producer.zipCode, '%producer_city%': producer.city, '%producer_presentation%': producer.presentation|striptags|truncate(250)}, 'seo') }}
    {% else %}
        {{ 'producer.meta_description'|trans({'%producer_name%': producer.name, '%producer_presentation%': producer.presentation|striptags|truncate(250)}, 'seo') }}
    {% endif %}
{% endblock %}

{% import "IsicsOpenMiamMiamBundle:Macro:producer.html.twig" as producer_macro %}

{% block content %}
    <h1>
        {% if producer.profileImage is not null %}
            <img src="{{ asset(get_producer_profile_image_path(producer))|imagine_filter('s') }}" class="img-circle" alt="{{ producer.name }}" />
        {% endif %}
        {{ producer.name }}
    </h1>

    <div class="row">
        <div class="col-md-8">
            {% if producer.specialty %}
                <div>
                    {{ producer_macro.specialty(producer) }}
                </div>
            {% endif %}
            {% if producer.presentationImage is not null %}
                <p class="text-center">
                    <img src="{{ asset(get_producer_presentation_image_path(producer))|imagine_filter('l') }}" class="img-thumbnail" alt="{{ producer.name }}" />
                </p>
            {% endif %}

            {% if producer.presentation is not null %}
                {{ producer.presentation|raw }}
            {% endif %}
        </div>
        <div class="col-md-4">
            <div class="well">
                <h2>{{ 'producer.contact'|trans }}</h2>
                <p>
                    <address>
                        {{ producer.address1 }} {{ producer.address2 }}</br>
                        {{ producer.zipcode }} {{ producer.city }}
                    </address>
                </p>
                <dl>
                    {% if producer.phoneNumber1 is not null %}
                        <dt>{{ 'producer.phone_number1'|trans }}</dt>
                        <dd>{{ producer.phoneNumber1 }}</dd>
                    {% endif %}

                    {% if producer.phoneNumber2 is not null %}
                        <dt>{{ 'producer.phone_number2'|trans }}</dt>
                        <dd>{{ producer.phoneNumber2 }}</dd>
                    {% endif %}

                    {% if producer.website is not null %}
                        <dt>{{ 'producer.website'|trans }}</dt>
                        <dd><a href="{{ producer.website }}">{{ producer.website }}</a></dd>
                    {% endif %}

                    {% if producer.facebook is not null %}
                        <dt>{{ 'producer.facebook'|trans }}</dt>
                        <dd><a href="{{ producer.facebook }}">{{ producer.facebook }}</a></dd>
                    {% endif %}
                </dl>
            </div>
        </div>
    </div>

{% endblock %}
