{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
<div id="homepage-news" class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title"><span class="glyphicon glyphicon-comment"></span> {{ 'homepage.news.title'|trans }}</h2>
    </div>
    <ul class="list-group">
        {% for article in articles %}
            <li class="list-group-item">
                <a href="{{ path('open_miam_miam.article.show', {'articleSlug': article.slug, 'articleId': article.id}) }}">{{ article.title }}</a>
            </li>
        {% endfor %}
    </ul>
    <div class="panel-footer">
        <a href="{{ path('open_miam_miam.article.list') }}">{{ 'homepage.news.link'|trans }}</a>
    </div>
</div>