
{#
# This file is part of the OpenMiamMiam project.
# (c) Isics <contact@isics.fr>
#
# This source file is subject to the AGPL v3 license that is bundled
# with this source code in the file LICENSE.
#}
{% embed 'IsicsOpenMiamMiamBundle::base.html.twig'	%}

	{% block content %}
		<div class="table-responsive">
            <table class="table table-bordered table-striped table-condensed ">
            	<caption>{{ producer.name }}</caption>
                <tbody>
					<tr>
						<th>{{ 'producer.image'|trans }}</th>
					    <td>
					    	{% if producer.image is not null %}
	       						 <p><img src="{{ asset(get_image_producer_path(producer))|imagine_filter('s') }}" alt="{{ producer.name }}" /></p>
	    					{% endif %}
	    				</td>
					</tr>
					<tr>
						<th>{{ 'producer.presentation'|trans }}</th>
						<td>{{ producer.presentation }}</td>
					</tr>
					<tr>
						<th>{{ 'producer.address'|trans }}</th>
						<td>{{ producer.address1}} {{ producer.address2}} {{ producer.zipcode}} {{ producer.city}}</td>
					</tr>
					<tr>
						<th>{{ 'producer.phone1'|trans }}</th>
						<td>{{ producer.phone1 }}</td>
					</tr>
					<tr>
						<th>{{ 'producer.phone2'|trans }}</th>
						<td>{{ producer.phone2 }}</td>
					</tr>
					<tr>
						<th>{{ 'producer.website'|trans }}</th>
						<td>{{ producer.website }}</td>
					</tr>
					<tr>
						<th>{{ 'producer.facebook'|trans }}</th>
						<td>{{ producer.facebook }}</td>
					</tr>
				</tbody>
            </table>
		</div>
		
		<div class="row">
			<div class="col-md-3" >
				
			</div>
			<div class="col-md-9">
				<div class="row">
					<div class="col-md-2">
						{% if producer.image is not null %}
				       		<p><img src="{{ asset(get_image_producer_path(producer))|imagine_filter('s') }}" alt="{{ producer.name }}" /></p>
				    	{% endif %}
				    </div>
				    <div class="col-md-10">
				    	<strong>{{ producer.name }}</strong></br>
				    	<address>
							{{ producer.address1 }} 
						</address>
				    </div>
				</div>
				<div class="row">
					<div class="col-md-3">
						
				    </div>
				    <div class="col-md-9">

				    </div>
				</div>	 	 
			</div>
		</div>
		
		
		
		
		
		
		
		
		
		

		{% for nextAttendance in nextAttendancesOf %}
	         {{ nextAttendance }}
	    {% endfor %} 
	    
	{% endblock %}
{% endembed %}