
{#
# This file is part of the OpenMiamMiam project.
# (c) Isics <contact@isics.fr>
#
# This source file is subject to the AGPL v3 license that is bundled
# with this source code in the file LICENSE.
#}
{% extends 'IsicsOpenMiamMiamBundle::base.html.twig' %}

    {% block content %}
        
                <div class="row">
                    <div class="col-md-2 producer-image">
                        {% if producer.image is not null %}
                               <p><img src="{{ asset(get_image_producer_path(producer))|imagine_filter('s') }}" class="img-polaroid" alt="{{ producer.name }}" /></p>
                        {% endif %}
                    </div>
                    <div class="col-md-10 text-left">
                        <strong><h1>{{ producer.name }}</h1></strong></br>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-md-5 well contact">
                        <p><strong>{{ 'producer.contact'|trans }}</strong></p>
                        <adddress>
                            <strong>
                                {{ producer.address1 }}{{ producer.address2 }}</br> 
                                {{ producer.zipcode }} {{ producer.city }}</br>
                            </strong>
                        </address>
                        {% if producer.phone1 is not null %}
                            {{ 'producer.phone1'|trans }}
                            {{ producer.phone1 }}</br>
                        {% endif %}
                        
                        {% if producer.phone2 is not null %}
                            {{ 'producer.phone2'|trans }}
                            {{ producer.phone2 }}</br>
                        {% endif %}
                        
                        {% if producer.facebook is not null %}
                            {{ 'producer.website'|trans }}
                            <a href="{{ producer.website }}">{{ producer.website }}</a></br>
                        {% endif %}
                        
                        {% if producer.facebook is not null %}
                            {{ 'producer.facebook'|trans }}
                            <a href="{{ producer.facebook }}">{{ producer.facebook }}</a>
                        {% endif %}
                        
                    </div>
                    <div class="col-md-6 well attendances">
                        <p><strong><span class="glyphicon glyphicon-time"></span> {{ 'producer.comptoir'|trans }}</strong></p></br>
                        {% if nextAttendancesOf is not null %}
                            {% for nextAttendance in nextAttendancesOf %}
                                {{ nextAttendance }}
                            {% endfor %}
                        {% else %}
                            {{ 'producer.website'|trans }}
                        {% endif %}
                    </div>
                </div>
                {% if producer.presentation is not null %}
                <div class="row">
                    <div class="col-md-12 well well-large">
                        {{ producer.presentation |raw }}
                    </div>
                </div>
                {% endif %} 
    {% endblock %}
