{% set product = form.vars.data %}

{{ form_start(form, {'attr': {'id': 'open_miam_miam_admin_product_form', 'novalidate': ''}}) }}

    {{ form_errors(form) }}

    <div class="panel-group" id="accordion">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <span class="glyphicon glyphicon-cutlery"></span>
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        {{ 'admin.producer.products.form.fieldset.main'|trans }}
                    </a>
                </h2>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    {{ form_row(form.name, {'label': 'admin.producer.products.form.name'|trans}) }}
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.ref, {'label': 'admin.producer.products.form.ref'|trans}) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.category, {'label': 'admin.producer.products.form.category'|trans}) }}
                        </div>
                    </div>
                    {{ form_row(form.isBio, {'label': 'admin.producer.products.form.is_bio'|trans}) }}
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <span class="glyphicon glyphicon-picture"></span>
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                        {{ 'admin.producer.products.form.fieldset.description'|trans }}
                    </a>
                </h2>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="form-group">
                        {{ form_label(form.imageFile, 'admin.producer.products.form.image'|trans) }}
                        {% if product.image is not null %}
                            <p><img src="{{ asset(get_image_product_path(product))|imagine_filter('s') }}" alt="{{ product.name }}" /></p>
                            {{ form_row(form.deleteImage, {'label': 'admin.producer.products.form.delete_image'|trans}) }}
                        {% endif %}
                        {{ form_errors(form.imageFile) }}
                        {{ form_widget(form.imageFile) }}
                    </div>
                    {{ form_row(form.description, {'label': 'admin.producer.products.form.description'|trans}) }}
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <span class="glyphicon glyphicon-euro"></span>
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                        {{ 'admin.producer.products.form.fieldset.price'|trans }}
                    </a>
                </h2>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="open_miam_miam_admin_product_price">{{ 'admin.producer.products.form.price'|trans }}</label>
                                <div class="input-group">
                                    {{ form_errors(form.price) }}
                                    {{ form_widget(form.price)}}
                                    <span class="input-group-addon">{{ open_miam_miam.currency }}</span>
                                </div>
                                <label>
                                    {{ form_widget(form.hasNoPrice) }}
                                    {{ 'admin.producer.products.form.has_no_price'|trans }}
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.buyingUnit, {'empty_value': 'admin.producer.products.form.buying_unit.without_unit'|trans, 'label': 'admin.producer.products.form.buying_unit'|trans}) }}
                        </div>
                    </div>
                    {{ form_row(form.priceInfo, {'label': 'admin.producer.products.form.price_info'|trans, 'attr': {'placeholder': 'admin.producer.products.form.price_info.placeholder'|trans}}) }}
                    {{ form_row(form.allowDecimalQuantity, {'label': 'admin.producer.products.form.allow_decimal_quantity'|trans}) }}
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                        {{ 'admin.producer.products.form.fieldset.availability'|trans }}
                    </a>
                </h2>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                    {{ form_row(form.availability, {'label': 'admin.producer.products.form.availability'|trans}) }}
                    {{ form_row(form.stock, {'label': 'admin.producer.products.form.stock'|trans}) }}
                    {{ form_row(form.availableAt, {'label': 'admin.producer.products.form.available_at'|trans}) }}
                    {{ form_row(form.branches, {'label': 'admin.producer.products.form.branches'|trans}) }}
                </div>
            </div>
        </div>
    </div>

    <div class="well well-sm">
        {{ form_row(form.isOfTheMoment, {'label': 'admin.producer.products.form.is_of_the_moment'|trans}) }}
    </div>

    <a href="{{ path('open_miam_miam.admin.producer.list_products', {'id': producer.id}) }}" class="pull-right">{{ 'admin.return'|trans }}</a>

    <button type="submit" class="btn btn-primary btn-lg" />
        <span class="glyphicon glyphicon-floppy-save"></span>
        {{ 'admin.save'|trans }}
    </button>
    {% do form.save.setRendered %}
{{ form_end(form) }}
