{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% extends 'IsicsOpenMiamMiamBundle:Admin:admin.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h1>{{ 'admin.producer.products.list.title'|transchoice(products|length, {'%nb%': products|length}) }}</h1>
        </div>
        <div class="col-md-6">
            <a href="{{ path('open_miam_miam.admin.producer.product.create', {'id': producer.id}) }}" class="btn btn-primary btn-lg pull-right">
                <span class="glyphicon glyphicon-plus-sign"></span>
                {{ 'admin.producer.products.list.create'|trans }}
            </a>
        </div>
    </div>

    {% if products|length > 0 %}
        {% set has_product_of_the_moment = false %}
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-products">
                <thead>
                    <tr>
                        <th>{{ 'admin.producer.products.list.ref'|trans }}</th>
                        <th>{{ 'admin.producer.products.list.product'|trans }}</th>
                        <th>{{ 'admin.producer.products.list.is_bio'|trans }}</th>
                        <th>{{ 'admin.producer.products.list.price'|trans }}</th>
                        {% for branch in producer.branches %}
                            <th>{{ branch.name|truncate(8) }}</th>
                        {% endfor %}
                        <th>{{ 'admin.producer.products.list.availability'|trans }}</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr{% if product.isOfTheMoment %} class="success"{% set has_product_of_the_moment = true %}{% endif %}>
                            <td><a href="{{ path('open_miam_miam.admin.producer.product.edit', {'id': producer.id, 'productId': product.id}) }}">{{ product.ref }}</a></td>
                            <td><a href="{{ path('open_miam_miam.admin.producer.product.edit', {'id': producer.id, 'productId': product.id}) }}">{{ product.name }}</a></td>
                            <td>{% if product.isBio %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
                            <td>{{ product.price|number_format_currency(open_miam_miam.currency) }}</td>
                            {% for branch in producer.branches %}
                                <td>{% if product.hasBranch(branch) %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
                            {% endfor %}
                            <td>
                                {% if product.availability is constant('AVAILABILITY_UNAVAILABLE', product) %}
                                    <span class="label label-danger">{{ 'availability.unavailable'|trans }}</span>
                                {% elseif product.availability is constant('AVAILABILITY_AVAILABLE', product) %}
                                    <span class="label label-success">{{ 'availability.available'|trans }}</span>
                                {% elseif product.availability is constant('AVAILABILITY_AVAILABLE_AT', product) %}
                                    <span class="label label-warning">{{ 'availability.available_at'|trans({'%date%': product.availableAt|format_date}) }}</span>
                                {% elseif product.availability is constant('AVAILABILITY_ACCORDING_TO_STOCK', product) %}
                                    {% if product.stock > 0 %}
                                        <span class="label label-success">{{ 'availability.in_stock'|trans({'%stock%': product.stock}) }}</span>
                                    {% else %}
                                        <span class="label label-danger">{{ 'availability.out_of_stock'|trans }}</span>
                                    {% endif  %}
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('open_miam_miam.admin.producer.product.edit', {'id': producer.id, 'productId': product.id}) }}" class="btn btn-primary btn-xs" title="{{ 'admin.producer.products.list.edit'|trans }}"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a data-url="{{ path('open_miam_miam.admin.producer.product.delete', {'id': producer.id, 'productId': product.id}) }}" class="btn btn-danger btn-xs" title="{{ 'admin.producer.products.list.delete'|trans }}" data-toggle="modal" href="#delete-dialog"><span class="glyphicon glyphicon-trash"></span></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% if has_product_of_the_moment%}
            <div class="table-responsive">
                <table class="table table-bordered table-legend">
                    <tbody>
                        <tr>
                            <td class="success">* {{ 'admin.producer.products.list.is_of_the_moment'|trans }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        {% endif %}

        {% include 'IsicsOpenMiamMiamBundle:Admin:Producer\\Product\\deleteDialog.html.twig' %}
    {% else %}
        {% include 'IsicsOpenMiamMiamBundle:Admin:empty.html.twig' with {'message': 'admin.producer.products.list.no_product'|trans} %}
    {% endif %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {
            new OpenMiamMiam.DeleteDialog;
        });
    </script>
{% endblock %}
