{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% form_theme form _self 'IsicsOpenMiamMiamBundle::form.html.twig' %}

{% set categoryNode = form.vars.data %}

<a href="{{ path('open_miam_miam.admin.super.category.list') }}" class="pull-right">{{ 'admin.return'|trans }}</a>
{{ form_start(form, {'attr': {'id': 'open_miam_miam_admin_category_form'}}) }}

    {{ form_errors(form) }}

    {{ form_row(form.name, {'label': 'admin.super.category.form.name'|trans}) }}

    {% if form.position is defined %}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.position, {'label': 'admin.super.category.form.position'|trans}) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.target, {'label': 'admin.super.category.form.target'|trans}) }}
            </div>
        </div>
    {% endif %}

    <a href="{{ path('open_miam_miam.admin.super.category.list') }}" class="pull-right">{{ 'admin.return'|trans }}</a>

    <button type="submit" class="btn btn-primary btn-lg" />
        <span class="glyphicon glyphicon-floppy-save"></span>
        {{ 'admin.save'|trans }}
    </button>
    {% do form.save.setRendered %}

    {% if categoryNode.category.id is not null %}
        <a data-url="{{ path('open_miam_miam.admin.super.category.delete', {'categoryId': categoryNode.category.id}) }}" class="btn btn-danger btn-lg" title="{{ 'admin.super.category.form.delete'|trans }}" data-toggle="modal" href="#delete-dialog"><span class="glyphicon glyphicon-trash"></span></a>
    {% endif %}
{{ form_end(form) }}
