{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
 {% form_theme form _self 'IsicsOpenMiamMiamBundle::form.html.twig' %}
 {% extends 'IsicsOpenMiamMiamBundle:Admin:admin.html.twig' %}

{% block content %}
    <div class="producer_form">
        <h1>{{ 'admin.producer.infos.title'|trans }}</h1>
        {{ form_start(form, {'attr': {'id': 'open_miam_miam_admin_producer_form', 'novalidate': ''}}) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.name, {'label': 'admin.producer.infos.name'|trans}) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.specialty, {'label': 'admin.producer.infos.specialty'|trans}) }}
            </div>
        </div>
        {{ form_row(form.address1, {'label': 'admin.producer.infos.address1'|trans}) }}
        {{ form_errors(form.address2) }}
        {{ form_row(form.address2, {'label': 'admin.producer.infos.address2'|trans}) }}
        <div class="row">
            <div class="col-md-3">
                {{ form_row(form.zipcode, {'label': 'admin.producer.infos.zipcode'|trans}) }}
            </div>
            <div class="col-md-9">
                {{ form_row(form.city, {'label': 'admin.producer.infos.city'|trans}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.phoneNumber1, {'label': 'admin.producer.infos.phone_number1'|trans}) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.phoneNumber2, {'label': 'admin.producer.infos.phone_number2'|trans}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.website, {'label': 'admin.producer.infos.website'|trans}) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.facebook, {'label': 'admin.producer.infos.facebook'|trans}) }}
            </div>
        </div>

        {{ form_row(form.presentation, {'label': 'admin.producer.infos.presentation'|trans, 'attr': {'class': 'tinymce'}}) }}

        <div class="row">
            <div class="col-md-6">
                {{ form_label(form.profileImageFile, 'admin.producer.infos.profile_image'|trans) }}
                {% if producer.profileImage is not null %}
                    <p><img src="{{ asset(get_producer_profile_image_path(producer))|imagine_filter('s') }}" alt="{{ producer.name }}" /></p>
                    {{ form_row(form.deleteProfileImage, {'label': 'admin.producer.infos.delete_image'|trans}) }}
                {% endif %}
                {{ form_errors(form.profileImageFile) }}
                {{ form_widget(form.profileImageFile) }}
            </div>
            <div class="col-md-6">
                {{ form_label(form.presentationImageFile, 'admin.producer.infos.presentation_image'|trans) }}
                {% if producer.presentationImage is not null %}
                    <p><img src="{{ asset(get_producer_presentation_image_path(producer))|imagine_filter('s') }}" alt="{{ producer.name }}" /></p>
                    {{ form_row(form.deletePresentationImage, {'label': 'admin.producer.infos.delete_image'|trans}) }}
                {% endif %}
                {{ form_errors(form.presentationImageFile) }}
                {{ form_widget(form.presentationImageFile) }}
            </div>
        </div>
        <div class="edit-producer-button">
            <button type="submit" class="btn btn-primary btn-lg" />
                <span class="glyphicon glyphicon-floppy-save"></span>
                {{ 'admin.save'|trans }}
            </button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
{% block javascript %}
    {{ tinymce_init() }}
{% endblock %}
