{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% form_theme form _self 'IsicsOpenMiamMiamBundle::form.html.twig' %}

{{ form_start(form, {'attr': {'id': 'open_miam_miam_admin_newsletter_form'}}) }}

    {{ form_errors(form) }}

    {{ form_row(form.recipientType, {'label': 'admin.super.newsletter.form.recipientType'|trans}) }}

    {{ form_row(form.all, {'label': 'admin.super.newsletter.form.all'|trans}) }}

    {{ form_errors(form.branches) }}
    {{ form_widget(form.branches) }}

    {{ form_row(form.subject, {'label': 'admin.super.newsletter.form.subject'|trans}) }}

    {{ form_row(form.body, {'label': 'admin.super.newsletter.form.body'|trans, 'attr': {'class': 'tinymce'}}) }}
    
    <div class="edit-producer-button">
            <button type="submit" class="btn btn-primary btn-lg" />
                <span class="glyphicon glyphicon-envelope"></span>
                {{ 'admin.super.newsletter.send_test_message'|trans }}
            </button>
        </div>

{{ form_end(form) }}