{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% extends 'IsicsOpenMiamMiamBundle:Admin:admin.html.twig' %}

{% block content %}
    <h1>{{ 'admin.super.newsletter.report.title'|trans }}</h1>

    <dl>
      <dt>{{ 'admin.super.newsletter.report.subject'|trans }}</dt>
      <dd>{{ newsletter.subject }}</dd>
      <dt>{{ 'admin.super.newsletter.report.sent_at'|trans }}</dt>
      <dd>{{ newsletter.sentAt|format_datetime(null, null, null, constant('IntlDateFormatter::FULL')) }}</dd>
      <dt>{{ 'admin.super.newsletter.report.nb_recipients'|trans }}</dt>
      <dd>{{ newsletter.nbRecipients }}</dd>
    </dl>

    {% include 'IsicsOpenMiamMiamBundle:Admin:activityStream.html.twig' %}
{% endblock %}