{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% embed 'IsicsOpenMiamMiamBundle:Branch:base.html.twig' with {'branch': branch} %}
    {% block content %}
        <div id="order-progress" class="btn-group btn-group-justified">
            <a href="{{ path('open_miam_miam.cart.show', {'branchSlug': branch.slug}) }}" class="btn btn-success"><strong><span class="badge">1</span> {{ 'order.process.stage1'|trans }}</strong></a>
            <a href="#" class="btn btn-success active"><strong><span class="badge">2</span> {{ 'order.process.stage2'|trans }}</strong></a>
            <a href="#" class="btn btn-default" disabled="disabled"><strong><span class="badge">3</span> {{ 'order.process.stage3'|trans }}</strong></a>
        </div>

        <h1>{{ 'order.confirm.title'|trans }}</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">{{ 'order.confirm.consumer.title'|trans }}</h2>
                    </div>
                    <div class="panel-body">
                        <p>
                            <strong>{{ user.firstname }} {{ user.lastname }} ({{ user|format_consumer_ref }})</strong><br />
                            {{ user.address1 }}<br />
                            {% if user.address2 != null %}
                                {{ user.address2 }}<br />
                            {% endif %}
                            {{ user.zipcode }} {{ user.city }}
                        </p>
                        {% if not user.phoneNumber %}
                            <p>
                                <span class="label label-danger"><span class="glyphicon glyphicon-warning-sign"></span>
                                {{ 'order.confirm.consumer.no_phone_statement'|trans }}</span>
                            </p>
                        {% endif %}
                        <a href="{{ path('fos_user_profile_edit') }}">{{ 'order.confirm.consumer.update'|trans }}</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">{{ 'order.confirm.withdrawal.title'|trans }}</h2>
                    </div>
                    <div class="panel-body">
                        <p>
                            <strong>{{ branch.name }}</strong><br />
                            {{ branch.address1 }}<br />
                            {% if branch.address2 != null %}
                                {{ branch.address2 }}<br />
                            {% endif %}
                            {{ branch.zipcode }} {{ branch.city }}
                        </p>
                        <a href="#">{{ 'order.confirm.withdrawal.update'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>

        {% set showNoPriceStatement = false %}
        <h2 class="pull-left">{{ 'order.confirm.cart.title'|trans }} <small>(<a href="{{ path('open_miam_miam.cart.show', {'branchSlug': branch.slug}) }}">{{ 'order.confirm.cart.update'|trans }}</a>)</small></h2>
        <table class="table table-bordered table-striped table-cart-products">
            <thead>
                <tr>
                    <th>{{ 'product'|trans }}</th>
                    <th>{{ 'producer'|trans }}</th>
                    <th>{{ 'price'|trans }}</th>
                    <th>{{ 'quantity'|trans }}</th>
                    <th>{{ 'total'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart.items %}
                    <tr>
                        <td>{{ item.product.name }}</td>
                        <td>
                            <a href="{{ path('open_miam_miam.producer', {'producerSlug': item.product.producer.slug}) }}">
                                <span class="glyphicon glyphicon-user"></span> {{ item.product.producer }}
                            </a>
                        </td>
                        <td{% if item.product.hasNoPrice %} class="td-no-price"{% endif %}>
                            {% if not item.product.hasNoPrice %}
                                {{ item.product.price|number_format_currency(open_miam_miam.currency) }}
                            {% else %}
                                {% set showNoPriceStatement = true %}
                                <span class="glyphicon glyphicon-time"></span>*
                            {% endif %}
                        </td>
                        <td>{{ item.quantity }}</td>
                        <td{% if item.product.hasNoPrice %} class="td-no-price"{% endif %}>
                            {% if not item.product.hasNoPrice %}
                                {{ item.total|number_format_currency(open_miam_miam.currency) }}
                            {% else %}
                                <span class="glyphicon glyphicon-time"></span>*
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="4">{{ 'total'|trans }}</th>
                    <td>{{ cart.total|number_format_currency(open_miam_miam.currency) }}</td>
                </tr>
            </tfoot>
        </table>

        {% if showNoPriceStatement %}
            {% include 'IsicsOpenMiamMiamBundle:Branch:noPriceStatement.html.twig' %}
        {% endif %}

        {% form_theme form 'IsicsOpenMiamMiamBundle::form.html.twig' %}
        {{ form_start(form) }}
            {{ form_row(form.consumerComment, {'label': 'order.confirm.consumer_comment'|trans }) }}

            {% if form.termsOfService is defined %}
                <div class="pull-left">
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_errors(form.termsOfService) }}
                            {{ form_widget(form.termsOfService) }}
                            {{ form_label(form.termsOfService, 'order.confirm.read_agree'|trans) }}
                            <a href="{{ terms_of_service_url() }}" target="blank">{{ 'order.confirm.terms_of_service'|trans }}</a>
                        </div>
                    </div>
                </div>
            {% endif %}
            <button type="submit" class="btn btn-primary btn-lg pull-right" />
                <span class="glyphicon glyphicon-shopping-cart"></span>
                {{ 'order.confirm.submit'|trans }}
            </button>
            {% do form.save.setRendered %}
        {{ form_end(form) }}
    {% endblock %}
{% endembed %}
