{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% embed 'IsicsOpenMiamMiamBundle:Branch:base.html.twig' with {'branch': branch} %}
    {% block content %}
        <h1>{{ 'order.confirm.title'|trans }}</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">{{ 'order.confirm.consumer.title'|trans }}</h2>
                    </div>
                    <div class="panel-body">
                        <p>
                            <strong>{{ user.firstname }} {{ user.lastname }} ({{ user|format_consumer_ref }})</strong><br />
                            {{ user.address1 }}<br />
                            {% if user.address2 != null %}
                                {{ user.address2 }}<br />
                            {% endif %}
                            {{ user.zipcode }} {{ user.city }}
                        </p>
                        <a href="{{ path('fos_user_profile_edit') }}">{{ 'order.confirm.consumer.update'|trans }}</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">{{ 'order.confirm.withdrawal.title'|trans }}</h2>
                    </div>
                    <div class="panel-body">
                        <p>
                            <strong>{{ branch.name }}</strong><br />
                            {{ branch.address1 }}<br />
                            {% if branch.address2 != null %}
                                {{ branch.address2 }}<br />
                            {% endif %}
                            {{ branch.zipcode }} {{ branch.city }}
                        </p>
                        <a href="#">{{ 'order.confirm.withdrawal.update'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="pull-left">{{ 'order.confirm.cart.title'|trans }} <small>(<a href="{{ path('open_miam_miam_cart_show', {'branch_slug': branch.slug}) }}">{{ 'order.confirm.cart.update'|trans }}</a>)</small></h2>
        <table class="table table-bordered table-striped table-cart-products">
            <thead>
                <tr>
                    <th>{{ 'product'|trans }}</th>
                    <th>{{ 'price'|trans }}</th>
                    <th>{{ 'quantity'|trans }}</th>
                    <th>{{ 'total'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart.items %}
                    <tr>
                        <td>{{ item.product.name }}</a></td>
                        <td>{{ item.product.price|number_format_currency(open_miam_miam.currency) }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.total|number_format_currency(open_miam_miam.currency) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="3">{{ 'total'|trans }}</th>
                    <td>{{ cart.total|number_format_currency(open_miam_miam.currency) }}</td>
                </tr>
            </tfoot>
        </table>


        {% form_theme form 'IsicsOpenMiamMiamBundle::form.html.twig' %}
        {{ form_start(form) }}
            {{ form_row(form.consumerComment, {'label': 'order.confirm.consumer_comment'|trans }) }}
            <div class="pull-left">
                {{ form_row(form.termsOfSaleChecked, {'label': 'order.confirm.terms_of_sale_checked'|trans }) }}
            </div>
            <button type="submit" class="btn btn-primary btn-lg pull-right" />
                <span class="glyphicon glyphicon-shopping-cart"></span>
                {{ 'order.confirm.submit'|trans }}
            </button>
            {% do form.save.setRendered %}
        {{ form_end(form) }}
    {% endblock %}
{% endembed %}
