{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% embed 'IsicsOpenMiamMiamBundle:Branch:base.html.twig' with {'branch': branch} %}
    {% block content %}
        <div id="order-progress"  class="btn-group btn-group-justified">
            <a href="#" class="btn btn-success" disabled="disabled"><strong><span class="badge">1</span> {{ 'order.process.stage1'|trans }}</strong></a>
            <a href="#" class="btn btn-success" disabled="disabled"><strong><span class="badge">2</span> {{ 'order.process.stage2'|trans }}</strong></a>
            <a href="#" class="btn btn-success active"><strong><span class="badge">3</span> {{ 'order.process.stage3'|trans }}</strong></a>
        </div>

        <h1>{{ 'order.confirmed.title'|trans({'%firstname%': format_user_identity(app.user, '%firstname%'), '%lastname%': format_user_identity(app.user, '%lastname%'), '%ref%': order.ref}) }}</h1>
        {{ 'order.confirmed.body_html'|trans({'%firstname%': format_user_identity(app.user, '%firstname%'), '%lastname%': format_user_identity(app.user, '%lastname%'),'%ref%': order.ref})|raw }}
    {% endblock %}
{% endembed %}