{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% extends 'IsicsOpenMiamMiamBundle:Admin:admin.html.twig' %}

{% block content %}
    <h1>{{ 'admin.producer.calendar.title'|trans }}</h1>

    {{ form_start(form) }}

        {% for child1 in form.children.branchAttendances.children %}
            <h2>{{ child1.vars.data.branch.name }}</h2>

            <div class="table-responsive">
                <table class="table table-bordered table-striped table-calendar">
                    <thead>
                        <tr>
                            <th>{{ 'admin.producer.calendar.at'|trans }}</th>
                            <th>{{ 'admin.producer.calendar.from'|trans }}</th>
                            <th>{{ 'admin.producer.calendar.to'|trans }}</th>
                            <th>{{ 'admin.producer.calendar.attendance'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for child2 in child1.children.branchOccurrenceAttendances.children %}
                            {% set branchOccurenceAttendance = child2.vars.data %}
                            <tr>
                                <td>{{ branchOccurenceAttendance.branchOccurrence.begin|format_date('eeee dd MMMM YYYY') }}</td>
                                <td>{{ branchOccurenceAttendance.branchOccurrence.begin|format_time }}</td>
                                <td>{{ branchOccurenceAttendance.branchOccurrence.end|format_time }}</td>
                                <td>
                                    <label class="radio-inline">
                                        {{ form_widget(child2.children.attendance.children[0]) }}
                                        {{ 'admin.producer.calendar.attendance.yes'|trans }}
                                    </label>
                                    <label class="radio-inline">
                                        {{ form_widget(child2.children.attendance.children[1]) }}
                                        {{ 'admin.producer.calendar.attendance.no'|trans }}
                                    </label>
                                    <label class="radio-inline">
                                        {{ form_widget(child2.children.attendance.children[2]) }}
                                        {{ 'admin.producer.calendar.attendance.unknown'|trans }}
                                    </label>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary btn-lg" />
            <span class="glyphicon glyphicon-floppy-save"></span>
            {{ 'admin.save'|trans }}
        </button>
        {% do form.save.setRendered %}
    {{ form_end(form) }}
{% endblock %}
