{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% extends 'IsicsOpenMiamMiamBundle:Admin:admin.html.twig' %}

{% block content %}
    <h1>{{ 'admin.producer.manager.title'|transchoice(users|length, {'%nb%': users|length}) }}</h1>

    <div class="row">
        <div class="col-md-8">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-super-managers">
                    <thead>
                        <tr>
                            <th>{{ 'admin.producer.manager.lastname'|trans }}</th>
                            <th>{{ 'admin.producer.manager.firstname'|trans }}</th>
                            <th>{{ 'admin.producer.manager.email'|trans }}</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td>
                                    {{ user.lastname }}
                                </td>
                                <td>
                                    {{ user.firstname }}
                                </td>
                                <td>
                                    <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                                </td>
                                <td>
                                    {% if is_producer_owner(producer, user) %}
                                        <button type="button" class="btn btn-danger btn-sm" disabled="disabled">
                                            <span class="glyphicon glyphicon-arrow-down"></span>
                                            {{ 'admin.producer.manager.demote'|trans }}
                                        </button>
                                    {% else %}
                                        <a href="{{ path('open_miam_miam.admin.producer.manager.demote', {'id': producer.id, 'userId': user.id}) }}" class="btn btn-danger btn-sm" title="{{ 'admin.producer.manager.demote'|trans }}">
                                            <span class="glyphicon glyphicon-arrow-down"></span>
                                            {{ 'admin.producer.manager.demote'|trans }}
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title"><span class="glyphicon glyphicon-arrow-up"></span> {{ 'admin.producer.manager.promote'|trans }}</h2>
                </div>
                <div class="panel-body">
                    {% include 'IsicsOpenMiamMiamBundle:Admin:Super\\Manager\\searchForm.html.twig' with {'form': form} %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        var adminManagerAutocomplete = new OpenMiamMiam.AdminManagerAutocomplete('{{ path('open_miam_miam.admin.producer.manager.promote', {'id': producer.id, 'userId': 0}) }}');
        $(function() {
//            adminManagerAutocomplete.handleAutocomplete();
        });
    </script>
{% endblock %}