{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% extends 'IsicsOpenMiamMiamBundle:Admin:admin.html.twig' %}

{% block content %}
    <h1>{{ 'admin.producer.manager.promote'|trans }}</h1>

    {% include 'IsicsOpenMiamMiamBundle:Admin:Producer\\Manager\\searchForm.html.twig' with {'form': form} %}

    {{ pagerfanta(users, 'twitter_bootstrap3_translated') }}
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-producer-managers">
            <thead>
                <tr>
                    <th>{{ 'admin.producer.manager.lastname'|trans }}</th>
                    <th>{{ 'admin.producer.manager.firstname'|trans }}</th>
                    <th>{{ 'admin.producer.manager.email'|trans }}</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>
                            {{ format_user_identity(user, '%lastname%') }}
                        </td>
                        <td>
                            {{ format_user_identity(user, '%firstname%') }}
                        </td>
                        <td>
                            <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                        </td>
                        <td>
                            <a href="{{ path('open_miam_miam.admin.producer.manager.promote', {'id': producer.id, 'userId': user.id}) }}" class="btn btn-success btn-sm" title="{{ 'admin.producer.manager.promote'|trans }}">
                                <span class="glyphicon glyphicon-arrow-up"></span>
                                {{ 'admin.producer.manager.promote'|trans }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {{ pagerfanta(users, 'twitter_bootstrap3_translated') }}
{% endblock %}