{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% extends 'IsicsOpenMiamMiamBundle:Admin:admin.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h1>{{ 'admin.association.sales_orders.list.title'|trans }}</h1>
        </div>

        <div class="col-md-6">
            <p>
                <select class="form-control input-lg" data-type="url-switcher">
                    {% for _branchOccurrence in branchOccurrences %}
                        <option value="{{ path('open_miam_miam.admin.association.sales_order.list_for_branch_occurrence', {'id': association.id, 'branchOccurrenceId': _branchOccurrence.id}) }}"{% if branchOccurrence.id == _branchOccurrence.id %} selected="selected"{% endif %}>{{ _branchOccurrence.branch.name }} {{ _branchOccurrence.begin|format_date }}</option>
                    {% endfor %}
                </select>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <form class="form-inline" role="form" data-type="action-in-select">
                <div class="form-group">
                    <select class="form-control input-md">
                        <option value="{{ path('open_miam_miam.admin.association.sales_orders.get_sales_orders_pdf_for_branch_occurrence', {'id': association.id, 'branchOccurrenceId': branchOccurrence.id}) }}">{{ 'admin.association.sales_orders.list.export.sales_orders'|trans }}</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary btn-md">
                    <span class="glyphicon glyphicon-open"></span>
                    {{ 'admin.association.sales_orders.list.export'|trans }}
                </button>
            </form>
        </div>
        <div class="col-md-6">
            <p class="text-right">
                <a href="{{ path('open_miam_miam.admin.association.sales_order.create', {'id': association.id, 'branchOccurrenceId': branchOccurrence.id}) }}" class="btn btn-primary btn-md">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    {{ 'admin.association.sales_orders.new'|trans }}
                </a>
            </p>
        </div>
    </div>

    {% if salesOrders|length > 0 %}
        <div class="table-responsive">
            <table class="table table-bordered table-condensed table-striped table-association-sales-orders">
                <thead>
                    <tr>
                        <th>{{ 'admin.association.sales_orders.list.ref'|trans }}</th>
                        <th>{{ 'admin.association.sales_orders.list.date'|trans }}</th>
                        <th>{{ 'admin.association.sales_orders.list.consumer'|trans }}</th>
                        <th>{{ 'admin.association.sales_orders.list.total'|trans }}</th>
                        <th>{{ 'admin.association.sales_orders.list.left_to_pay'|trans }}</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {% for salesOrder in salesOrders %}
                        {% set canBeEdit = can_be_edit(salesOrder) %}
                        <tr{% if salesOrder.leftToPay %} class="danger"{% endif %}>
                            <td>
                                {% if canBeEdit %}
                                    <a href="{{ path('open_miam_miam.admin.association.sales_order.edit', {'id': association.id, 'salesOrderId': salesOrder.id}) }}">
                                {% else %}
                                    <a href="{{ path('open_miam_miam.admin.association.sales_order.view', {'id': association.id, 'salesOrderId': salesOrder.id}) }}">
                                {% endif %}
                                    {{ salesOrder.ref }}
                                </a>
                            </td>
                            <td>{{ salesOrder.date|format_datetime(null, null, null, constant('IntlDateFormatter::SHORT')) }}</td>
                            <td>
                                {% if salesOrder.user %}
                                    {{ format_identity(salesOrder.firstname, salesOrder.lastname, '%firstname% %lastname_first_letter%') }}. ({{ salesOrder.user|format_consumer_ref }})
                                    {% if salesOrder.user.phoneNumber is not null %}
                                        <br />
                                        {{ 'admin.association.sales_orders.list.phone_number'|trans }}
                                        {{ salesOrder.user.phoneNumber }}
                                    {% endif %}
                                {% else %}
                                    {{ 'admin.association.sales_orders.anonymous'|trans }}
                                {% endif %}
                            </td>
                            <td>{{ salesOrder.total|number_format_currency(open_miam_miam.currency) }}</td>
                            <td>
                                {% if salesOrder.leftToPay %}
                                    {{ salesOrder.leftToPay|number_format_currency(open_miam_miam.currency) }}
                                {% else %}
                                    {{ 0|number_format_currency(open_miam_miam.currency) }}
                                {% endif %}
                            </td>
                            <td>
                                {% if canBeEdit %}
                                    <a href="{{ path('open_miam_miam.admin.association.sales_order.edit', {'id': association.id, 'salesOrderId': salesOrder.id}) }}" class="btn btn-primary btn-xs" title="{{ 'admin.association.sales_orders.list.edit'|trans }}"><span class="glyphicon glyphicon-pencil"></span></a>
                                {% else %}
                                    <a href="{{ path('open_miam_miam.admin.association.sales_order.view', {'id': association.id, 'salesOrderId': salesOrder.id}) }}" class="btn btn-primary btn-xs" title="{{ 'admin.association.sales_orders.list.edit'|trans }}"><span class="glyphicon glyphicon-pencil"></span></a>
                                {% endif %}
                                <a href="{{ path('open_miam_miam.admin.association.sales_order.pay', {'id': association.id, 'salesOrderId': salesOrder.id}) }}" class="btn btn-primary btn-xs" title="{{ 'admin.association.sales_orders.list.pay'|trans }}"><span class="glyphicon glyphicon-euro"></span></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="table-responsive">
                    <table class="table table-bordered table-condensed table-striped table-association-sales-orders-payments">
                        <thead>
                            <tr>
                                <th>{{ 'admin.association.sales_orders.list.payments.type'|trans }}</th>
                                <th>{{ 'admin.association.sales_orders.list.payments.nb'|trans }}</th>
                                <th>{{ 'admin.association.sales_orders.list.payments.total'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for stat in salesOrdersStats.paymentStatistics %}
                                <tr>
                                    <td>{{ ('admin.association.sales_orders.payment.type_'~stat.type)|trans|capitalize }}</td>
                                    <td>{{ stat.counter }}</td>
                                    <td>{{ stat.amount|number_format_currency(open_miam_miam.currency) }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-2">
                <div class="table-responsive">
                    <table class="table table-bordered table-condensed table-striped table-association-sales-orders-totals">
                        <tbody>
                            <tr>
                                <th>{{ 'admin.association.sales_orders.list.totals.total'|trans }}</th>
                                <td>{{ salesOrdersStats.total|number_format_currency(open_miam_miam.currency) }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'admin.association.sales_orders.list.totals.payed'|trans }}</th>
                                <td>{{ salesOrdersStats.paidAmount|number_format_currency(open_miam_miam.currency) }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'admin.association.sales_orders.list.totals.left_to_pay'|trans }}</th>
                                <td>{{ salesOrdersStats.leftToPay|number_format_currency(open_miam_miam.currency) }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% else %}
        {% include 'IsicsOpenMiamMiamBundle:Admin:empty.html.twig' with {'message': 'admin.association.sales_orders.list.no_order'|trans} %}
    {% endif %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {
            new OpenMiamMiam.ActionInSelectForm();
        });
    </script>
{% endblock %}
