{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">{{ 'admin.association.sales_orders.form.branch'|trans }}</h2>
            </div>
            <div class="panel-body">
                <p>
                    {% set branch=order.branchOccurrence.branch %}
                    <strong>{{ branch.name }}</strong><br />
                    {{ branch.address1 }}<br />
                    {% if branch.address2 != null %}
                        {{ branch.address2 }}<br />
                    {% endif %}
                    {{ branch.zipcode }} {{ branch.city }}
                </p>
            </div>
        </div>
        <div class="panel panel-default sales-order-consumer-header">
            <div class="panel-heading">
                <h2 class="panel-title">{{ 'admin.association.sales_orders.form.consumer'|trans }}</h2>
            </div>
            <div class="panel-body">
                <p>
                    {% if order.user %}
                        <strong>{{ order.firstname }} {{ order.lastname }} ({{ order.user|format_consumer_ref }})</strong><br />
                        {{ order.address1 }}<br />
                        {% if order.address2 != null %}
                            {{ order.address2 }}<br />
                        {% endif %}
                        {{ order.zipcode }} {{ order.city }}
                        {% if order.user.phoneNumber is not null %}
                            <br />
                            {{ 'admin.association.sales_orders.list.phone_number'|trans }}
                            {{ order.user.phoneNumber }}
                        {% endif %}
                    {% else %}
                        {{ 'admin.association.sales_orders.anonymous'|trans }}
                    {% endif %}
                </p>
                {% if showConsumerComment is defined and showConsumerComment and order.consumerComment is not null %}
                    <div class="alert alert-warning consumer-comment">
                        <span class="glyphicon glyphicon-comment"></span>
                        <strong>{{ 'admin.association.sales_orders.form.consumer_comment'|trans }}</strong>
                        <div class="consumer-comment-content">
                            {{ order.consumerComment|nl2br }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div id="sales-order-consumer-credit">
            {{ render(controller('IsicsOpenMiamMiamBundle:Admin/Association/Payment:salesOrderSummary', {
                'id':           association.id,
                'salesOrderId': order.id
            })) }}
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">
                    {{ 'admin.association.consumers.comments.list.title'|trans }}
                </h2>
            </div>
            <div class="panel-body">
                {% if order.user is not null %}
                    {{ render(controller('IsicsOpenMiamMiamBundle:Admin/Association/Consumer:listComments', {
                    'associationId': association.id,
                    'consumerId': order.user.id,
                    })) }}
                {% else %}
                    {{ render(controller('IsicsOpenMiamMiamBundle:Admin/Association/Consumer:listComments', {
                    'associationId': association.id
                    })) }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
