{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% extends 'IsicsOpenMiamMiamBundle:Pdf:base.html.twig' %}

{% block content %}
{% spaceless %}
    {% set branch=order.branchOccurrence.branch %}

    <table>
        <tbody>
            <tr>
                <td>
                    <h1>{{ branch.association.name }}</h1>
                    <strong>{{ url('open_miam_miam.homepage') }}</strong>
                </td>
                <td align="right">
                    <h1>{{ 'pdf.sales_order.title'|trans({'%ref%': order.ref}) }}</h1>
                    <h2>{{ order.date|format_datetime(null, null, null, constant('IntlDateFormatter::LONG')) }}</h2>
                </td>
            </tr>
        </tbody>
    </table>

    <p>&nbsp;</p>

    <table>
        <tbody>
            <tr>
                <td>
                    <h3>{{ 'pdf.sales_order.consumer'|trans }}</h3>
                    <p>
                        <strong>{{ order.firstname }} {{ order.lastname }} {% if order.user is not null %}({{ order.user|format_consumer_ref }}){% endif %}</strong><br />
                        {{ order.address1 }}<br />
                        {% if order.address2 != null %}
                            {{ order.address2 }}<br />
                        {% endif %}
                        {{ order.zipcode }} {{ order.city }}
                        {% if order.user is not null and order.user.phoneNumber is not null %}
                            <br />
                            {{ 'pdf.sales_order.consumer.phone_number'|trans }} {{ order.user.phoneNumber }}
                        {% endif %}
                    </p>
                </td>
                <td>
                    <h3>{{ 'pdf.sales_order.withdrawal'|trans }}</h3>
                    <p>
                        <strong>{{ branch.name }}</strong><br />
                        {{ branch.address1 }}<br />
                        {% if branch.address2 != null %}
                            {{ branch.address2 }}<br />
                        {% endif %}
                        {{ branch.zipcode }} {{ branch.city }}
                    </p>
                </td>
            </tr>
        </tbody>
    </table>

    <p>&nbsp;</p>

    <table width="100%" border="1" cellpadding="3" cellspacing="0">
        <thead>
            <tr>
                <th width="25%">{{ 'pdf.sales_order.producer'|trans }}</th>
                <th width="30%">{{ 'pdf.sales_order.product'|trans }}</th>
                <th width="15%" align="center">{{ 'pdf.sales_order.price'|trans }}</th>
                <th width="15%" align="center">{{ 'pdf.sales_order.quantity'|trans }}</th>
                <th width="15%" align="center">{{ 'pdf.sales_order.row_total'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for row in order.salesOrderRows %}
                <tr>
                    <td width="25%">{{ row.producer }}</td>
                    <td width="30%">{{ row.name }}</td>
                    <td width="15%" align="right">{{ row.unitPrice|number_format_currency(open_miam_miam.currency) }}</td>
                    <td width="15%" align="center">{{ row.quantity|number_format }}</td>
                    <td width="15%" align="right">{{ row.total|number_format_currency(open_miam_miam.currency) }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="4" align="right">{{ 'pdf.sales_order.total'|trans }}</th>
                <td align="right"><strong>{{ order.total|number_format_currency(open_miam_miam.currency) }}</strong></td>
            </tr>
        </tfoot>
    </table>
{% endspaceless %}
{% endblock %}
