{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
<table class="table table-bordered table-condensed table-striped table-products">
    <thead>
    <tr>
        <th>{{ 'photo'|trans }}</th>
        <th>{{ 'product'|trans }}</th>
        <th>{{ 'bio'|trans }}</th>
        <th>{{ 'producer'|trans }}</th>
        <th>{{ 'price'|trans }}</th>
        <th>{{ 'availability'|trans }}</th>
        <th>{{ 'order'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
        <tr>
            <td>
                {% if product.image is not null %}
                    <img src="{{ asset(get_image_product_path(product))|imagine_filter('s') }}" alt="{{ product.name }}" />
                {% else %}
                    <img src="{{ asset('bundles/isicsopenmiammiam/img/picture_placeholder.png')|imagine_filter('s') }}" alt="{{ product.name }}" />
                {% endif %}
            </td>
            <td>
                <a href="{{ path('open_miam_miam.catalog.product', {'branchSlug': branch.slug, 'productSlug': product.slug, 'productId': product.id}) }}">
                    {{ product.name }}
                </a>
                {{ product.priceInfo }}
            </td>
            <td>
                {% if product.isBio %}
                    <strong class="bio"><span>{{ 'bio'|trans }}</span></strong>
                {% else %}
                    &nbsp;
                {% endif %}
            </td>
            <td>
                <a href="{{ path('open_miam_miam.producer', {'producerSlug': product.producer.slug}) }}">
                    <span class="glyphicon glyphicon-user"></span> {{ product.producer }}
                </a><br />
                <span class="badge">{{  product.producer.specialty }}</span>
            </td>
            <td{% if product.hasNoPrice %} class="td-no-price"{% endif %}>
                <span class="price">
                    {% if not product.hasNoPrice %}
                        {{ product.price|number_format_currency(open_miam_miam.currency) }}
                    {% else %}
                        <span class="glyphicon glyphicon-time"></span>*
                    {% endif %}
                </span>
            </td>
            {{ render(controller('IsicsOpenMiamMiamBundle:Cart:ShowAddForm', {'branch': branch, 'product': product, 'view': 'IsicsOpenMiamMiamBundle:Catalog:showCategoryAddForm.html.twig'})) }}
        </tr>
    {% endfor %}
    </tbody>
</table>