{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% embed 'IsicsOpenMiamMiamBundle:Branch:base.html.twig' with {'branch': branch} %}
    {% block title %}{{ category.name }} - {{ parent() }}{% endblock %}

    {% block content %}
        <ol class="breadcrumb">
            <li><a href="{{ path('open_miam_miam_branch_homepage', {'branch_slug': branch.slug}) }}">{{ 'homepage'|trans }}</a></li>
            <li class="active">{{ category.name }}</li>
        </ol>

        <h1>{{ category.name }}</h1>

        {% set showNoPriceStatement = false %}
        <table class="table table-bordered table-striped table-products">
            <thead>
                <tr>
                    <th>{{ 'photo'|trans }}</th>
                    <th>{{ 'product'|trans }}</th>
                    <th>{{ 'producer'|trans }}</th>
                    <th>{{ 'price'|trans }}</th>
                    <th>{{ 'availability'|trans }}</th>
                    <th>{{ 'order'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>
                            {% if product.image is not null %}
                                <img src="{{ asset(get_image_product_path(product))|imagine_filter('s') }}" alt="{{ product.name }}" class="img-thumbnail" />
                            {% else %}
                                <img src="{{ asset('bundles/isicsopenmiammiam/img/picture_placeholder.png')|imagine_filter('s') }}" alt="{{ product.name }}" class="img-thumbnail" />
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('open_miam_miam_branch_product', {'branch_slug': branch.slug, 'category_slug': category.slug, 'product_slug': product.slug}) }}">
                                {{ product.name }}
                            </a>
                            {{ product.priceInfo }}
                        </td>
                        <td>
                            <a href="{{ path('open_miam_miam_producer', {'producer_slug': product.producer.slug}) }}">
                                <span class="glyphicon glyphicon-user"></span> {{ product.producer }}
                            </a>
                        </td>
                        <td{% if product.hasNoPrice %} class="td-no-price"{% endif %}>
                            {% if not product.hasNoPrice %}
                                {{ product.price|number_format_currency(open_miam_miam.currency) }}
                            {% else %}
                                {% set showNoPriceStatement = true %}
                                <span class="glyphicon glyphicon-time"></span>*
                            {% endif %}
                        </td>
                        {{ render(controller('IsicsOpenMiamMiamBundle:Cart:ShowAddForm', {'branch': branch, 'product': product, 'view': 'IsicsOpenMiamMiamBundle:Catalog:showCategoryAddForm.html.twig'})) }}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if showNoPriceStatement %}
            {% include 'IsicsOpenMiamMiamBundle:Branch:noPriceStatement.html.twig' %}
        {% endif %}

    {% endblock %}
{% endembed %}
