{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% embed 'IsicsOpenMiamMiamBundle:Branch:base.html.twig' with {'branch': branch} %}
    {% block title %}{{ 'catalog.product.title'|trans({'%product_name%': product.name, '%branch_name%': branch.name}, 'seo') }}{% endblock %}
    {% block meta_description %}{{ 'catalog.product.meta_description'|trans({'%product_name%': product.name, '%producer%': product.producer.name, '%branch_name%': branch.name}, 'seo') }}{% endblock %}

    {% block content %}
        {% set root_category = product.category %}
        {% if root_category.lvl >= 2 %}
            {% set root_category = root_category.parent %}
        {% endif %}

        <ol class="breadcrumb">
            <li><a href="{{ path('open_miam_miam.branch.homepage', {'branchSlug': branch.slug}) }}">{{ 'homepage'|trans }}</a></li>
            <li><a href="{{ path('open_miam_miam.catalog.category', {'branchSlug': branch.slug, 'categorySlug': root_category.slug}) }}">{{ root_category.name }}</a></li>
            <li class="active">{{ product.name }}</li>
        </ol>

        <div class="row">
            <div class="col-md-8 col-md-offset-4">
                <h1>{{ product.name }}{% if product.isBio %}&nbsp;<strong class="bio"><span>{{ 'bio'|trans }}</span></strong>{% endif %}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                {% if product.image is not null %}
                    <img src="{{ asset(get_image_product_path(product))|imagine_filter('l') }}" alt="{{ product.name }}" class="img-thumbnail" />
                {% else %}
                    <img src="{{ asset('bundles/isicsopenmiammiam/img/picture_placeholder.png')|imagine_filter('l') }}" alt="{{ product.name }}" class="img-thumbnail" />
                {% endif %}
            </div>
            <div class="col-md-8">
                {% if product.priceInfo %}
                    <p>
                        {{ product.priceInfo }}
                    </p>
                {% endif %}

                <dl>
                    <dt>{{ 'producer'|trans }}</dt>
                    <dd>
                        <a href="{{ path('open_miam_miam.producer', {'producerSlug': product.producer.slug}) }}">
                            <span class="glyphicon glyphicon-user"></span>  {{ product.producer }}
                        </a>
                    </dd>
                    <dt>{{ 'price'|trans }}</dt>
                    <dd>
                        <span class="price">
                            {% if not product.hasNoPrice %}
                                {% set showNoPriceStatement = false %}
                                {{ product.price|number_format_currency(open_miam_miam.currency) }}
                            {% else %}
                                {% set showNoPriceStatement = true %}
                                <span class="glyphicon glyphicon-time"></span>*
                            {% endif %}
                        </span>
                    </dd>

                    {{ render(controller('IsicsOpenMiamMiamBundle:Cart:ShowAddForm', {'branch': branch, 'product': product, 'view': 'IsicsOpenMiamMiamBundle:Catalog:showProductAddForm.html.twig'})) }}
            </div>
        </div>

        <div class="clearfix">&nbsp;</div>

        {% if product.description %}
            <div class="well">
                {{ product.description|raw }}
            </div>
        {% endif %}

        {% if showNoPriceStatement %}
            {% include 'IsicsOpenMiamMiamBundle:Branch:noPriceStatement.html.twig' %}
        {% endif %}

    {% endblock %}

    {% block javascript %}
        {{ parent() }}
        <script type="text/javascript">
            $(function() { 
                new OpenMiamMiam.Quantity;
                new OpenMiamMiam.CartAddForm;
            });
        </script>
    {% endblock %}
{% endembed %}
