{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% embed 'IsicsOpenMiamMiamBundle:Branch:base.html.twig' with {'branch': branch} %}
    {% block title %}{{ product.name }} - {{ parent() }}{% endblock %}

    {% block content %}
        <div class="row">
            <div class="col-md-8 col-md-offset-4">
                <h1>{{ product.name }}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                {% if product.image is not null %}
                    <img src="{{ asset(get_image_product_path(product))|imagine_filter('m') }}" alt="{{ product.name }}" class="img-thumbnail" />
                {% else %}
                    <img src="{{ asset('bundles/isicsopenmiammiam/img/picture_placeholder.png')|imagine_filter('m') }}" alt="{{ product.name }}" class="img-thumbnail" />
                {% endif %}
            </div>
            <div class="col-md-8">
                {% if product.priceInfo %}
                    <p>
                        {{ product.priceInfo }}
                    </p>
                {% endif %}

                <dl>
                    <dt>{{ 'producer'|trans }}</dt>
                    <dd>
                        <a href="{{ path('open_miam_miam_producer', {'producer_slug': product.producer.slug}) }}">
                            <span class="glyphicon glyphicon-user"></span>  {{ product.producer }}
                        </a>
                    </dd>
                    <dt>{{ 'price'|trans }}</dt>
                    <dd>
                        {% if not product.hasNoPrice %}
                            {% set showNoPriceStatement = false %}
                            {{ product.price|number_format_currency(open_miam_miam.currency) }}
                        {% else %}
                            {% set showNoPriceStatement = true %}
                            <span class="glyphicon glyphicon-time"></span>
                        {% endif %}
                    </dd>

                    {{ render(controller('IsicsOpenMiamMiamBundle:Cart:ShowAddForm', {'branch': branch, 'product': product, 'view': 'IsicsOpenMiamMiamBundle:Catalog:showProductAddForm.html.twig'})) }}
            </div>
        </div>

        <div class="clearfix">&nbsp;</div>

        {% if product.description %}
            <div class="well">
                {{ product.description }}
            </div>
        {% endif %}

        {% if showNoPriceStatement %}
            {% include 'IsicsOpenMiamMiamBundle:Branch:noPriceStatement.html.twig' %}
        {% endif %}

    {% endblock %}
{% endembed %}
