{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% extends 'IsicsOpenMiamMiamUserBundle:Profile:base.html.twig' %}

{% block title %}{{ 'sales_order.title'|trans({}, 'seo') }}{% endblock %}

{% block content %}
    <h1>{{ 'user.orders.title'|trans }}</h1>

    {% if salesOrders|length > 0 %}
        <table class="table table-hover table-striped table-consumer-orders">
            <thead>
                <tr>
                    <th>{{ 'user.orders.branch'|trans }}</th>
                    <th>{{ 'user.orders.reference'|trans }}</th>
                    <th>{{ 'user.orders.order_date'|trans }}</th>
                    <th>{{ 'user.orders.total'|trans }}</th>
                    <th>{{ 'user.orders.withdrawal'|trans }}</th>
                    <th>{{ 'user.orders.details'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for salesOrder in salesOrders %}
                    <tr>
                        <td>
                            <strong>
                                <a href="{{ path('open_miam_miam.branch.homepage', {'branchSlug': salesOrder.branchOccurrence.branch.slug}) }}">
                                    {{ salesOrder.branchOccurrence.branch.name }}
                                </a>
                            </strong>
                            <br />
                            {{ salesOrder.branchOccurrence.begin|format_date }}
                        </td>
                        <td>{{ salesOrder.ref }}</td>
                        <td>
                            {{ salesOrder.date|format_datetime(null, null, null, constant('IntlDateFormatter::SHORT')) }}
                        </td>
                        <td>
                            {{ salesOrder.total|number_format_currency(open_miam_miam.currency) }}
                        </td>
                        <td>
                            {% if date() > salesOrder.branchOccurrence.begin %}
                                -
                            {% else %}
                                <strong>
                                    {{ salesOrder.branchOccurrence.begin|format_time('HH:mm') }}
                                    -
                                    {{ salesOrder.branchOccurrence.end|format_time('HH:mm') }}
                                </strong><br />
                                {{ salesOrder.branchOccurrence.branch.association.name }}<br />
                                {{ salesOrder.branchOccurrence.branch.address1 }}<br />
                                {% if salesOrder.branchOccurrence.branch.address2 is not null %}{{ salesOrder.branchOccurrence.branch.address2 }}<br />{% endif %}
                                {{ salesOrder.branchOccurrence.branch.zipcode }}
                                {{ salesOrder.branchOccurrence.branch.city }}
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('fos_user_profile_orders_pdf', {'id': salesOrder.id}) }}" class="btn btn-primary btn-lg">
                                <span class="glyphicon glyphicon-download-alt"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="text-muted">
            <span class="glyphicon glyphicon-ban-circle"></span> <em>{{ 'user.orders.no_order'|trans }}</em>
        </p>
    {% endif %}
{% endblock %}
