{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% import "IsicsOpenMiamMiamBundle:Macro:product.html.twig" as product_macro %}
{% block availability %}
    {% if not cart.closed %}
        {{ product_macro.availability_tag(productAvailability) }}
    {% endif %}
{% endblock %}

{% block form %}
    {% if cart.closed %}
        <span class="label label-order-closed"><span class="glyphicon glyphicon-time"></span> {{ 'cart.add_form.order_closed'|trans }}</span>
    {% elseif form is defined %}
        {{ form_start(form, {'attr': {'class': 'form form-inline form-cart-add'}}) }}
            {{ form_errors(form) }}

            <span class="quantity{% if product.buyingUnit is not null %} quantity-with-buying-unit{% endif %}">
                {{ form_errors(form.quantity) }}
                {{ form_widget(form.quantity, {'attr': {'class': 'form-control input-quantity'}}) }}

                {% if product.buyingUnit is not null %}
                    <span class="buying-unit">{{ product.buyingUnit }}</span>
                {% endif %}
            </span>

            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-shopping-cart"></span> {{ 'add'|trans }}
            </button>
            {% do form.add.setRendered %}
        {{ form_end(form) }}
    {% endif %}
{% endblock %}
