{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
<div id="branch-occurrence">
    {% if nextBranchOccurrence is not null %}
        <div id="branch-occurrence-date">
            <strong>{{ nextBranchOccurrence.begin|format_date('eeee dd MMMM') }}</strong>
            <span id="branch-occurrence-hours">
                {{ nextBranchOccurrence.begin|format_time('HH:mm') }}
                -
                {{ nextBranchOccurrence.end|format_time('HH:mm') }}
            </span>
        </div>

        <div id="branch-occurrence-order-period">
            {% if openingDateTime is not null %}
                {{ 'zone.occurrence.order.from'|trans }} {{ openingDateTime|format_datetime }}
            {% elseif closingDateTime is not null %}
                {{ 'zone.occurrence.order.before'|trans }} {{ closingDateTime|format_datetime('dd/MM HH:mm') }}
            {% endif %}
        </div>
    {% else %}
        {{ 'zone.occurrence.no.next.date'|trans }}
    {% endif %}
</div>

<div id="cart-summary">
    {% if not cart.isClosed %}
        {% if cart.nbItems > 0 %}
            <strong>
                {{ 'cart.title'|trans }}
                <a href="{{ path('open_miam_miam_cart_show', {'branch_slug': branch.slug}) }}">
                    ({{ cart.nbItems }}</span>)
                    {{ cart.total|number_format_currency(open_miam_miam.currency) }}
                </a>
            </strong>
            <a href="{{ path('open_miam_miam_cart_show', {'branch_slug': branch.slug}) }}" class="btn btn-primary btn-block">
                <span class="glyphicon glyphicon-shopping-cart"></span>
                {{ 'checkout'|trans }}
            </a>
        {% else %}
            <strong>{{ 'cart.title'|trans }}</strong>
        {% endif %}
    {% endif %}
</div>
