{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}

<div id="branch-occurrence">
    {% if nextBranchOccurrence is not null %}
        Branch:
        <strong>{{ nextBranchOccurrence.begin|date('m-d') }}</strong>
        {{ nextBranchOccurrence.begin|date('H:i') }}
        -
        {{ nextBranchOccurrence.end|date('H:i') }}

        {% if openingDateTime is not null %}
            Order at {{ openingDateTime|date('m-d H:i:s') }}
        {% elseif closingDateTime is not null %}
            Order before {{ closingDateTime|date('m-d H:i') }}
        {% endif %}
    {% else %}
        No next date
    {% endif %}
</div>

<div id="cart-summary">
    {% if not cart.isClosed %}
        {% if cart.nbItems > 0 %}
            <a href="{{ path('open_miam_miam_cart_show', {'branch_slug': branch.slug}) }}">
                {% trans %}cart.title{% endtrans %} ({{ cart.nbItems }})
                {{ cart.total|number_format_currency(open_miam_miam.currency) }}
            </a>
            <a href="{{ path('open_miam_miam_cart_show', {'branch_slug': branch.slug}) }}">
                {% trans %}checkout{% endtrans %}
            </a>
        {% else %}
            {% trans %}cart.title{% endtrans %} (0)
        {% endif %}
    {% endif %}
</div>
