{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% form_theme form _self 'IsicsOpenMiamMiamBundle::form.html.twig' %}

<a href="{{ path('open_miam_miam.admin.association.branch.list', {'id': association.id}) }}" class="pull-right">{{ 'admin.return'|trans }}</a>
{% set branch = form.vars.data %}

{{ form_start(form, {'attr': {'id': 'open_miam_miam_admin_branch_form'}}) }}

    {{ form_errors(form) }}

    {{ form_row(form.name, {'label': 'admin.association.branch.form.name'|trans}) }}
    {{ form_row(form.address1, {'label': 'admin.association.branch.form.address1'|trans}) }}
    {{ form_errors(form.address2) }}
    {{ form_row(form.address2, {'label': 'admin.association.branch.form.address2'|trans}) }}
    <div class="row">
        <div class="col-md-3">
            {{ form_row(form.zipcode, {'label': 'admin.association.branch.form.zipcode'|trans}) }}
        </div>
        <div class="col-md-9">
            {{ form_row(form.city, {'label': 'admin.association.branch.form.city'|trans}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.phoneNumber1, {'label': 'admin.association.branch.form.phone_number1'|trans}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.phoneNumber2, {'label': 'admin.association.branch.form.phone_number2'|trans}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.website, {'label': 'admin.association.branch.form.website'|trans}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.facebook, {'label': 'admin.association.branch.form.facebook'|trans}) }}
        </div>
    </div>
    {{ form_row(form.welcomeText, {'label': 'admin.association.branch.form.welcome_text', 'attr': {'class': 'tinymce'}}) }}
    {{ form_row(form.presentation, {'label': 'admin.association.branch.form.presentation', 'attr': {'class': 'tinymce', 'rows': 20}}) }}

    <a href="{{ path('open_miam_miam.admin.association.branch.list', {'id': association.id}) }}" class="pull-right">{{ 'admin.return'|trans }}</a>

    <button type="submit" class="btn btn-primary btn-lg" />
        <span class="glyphicon glyphicon-floppy-save"></span>
        {{ 'admin.save'|trans }}
    </button>

    {% if branch.id is not null %}
        <a data-url="{{ path('open_miam_miam.admin.association.branch.delete', {'id': association.id, 'branchId': branch.id}) }}" class="btn btn-danger btn-lg" title="{{ 'admin.association.branch.form.delete'|trans }}" data-toggle="modal" href="#delete-dialog"><span class="glyphicon glyphicon-trash"></span></a>
    {% endif %}

    {% do form.save.setRendered %}
{{ form_end(form) }}
