{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% extends 'IsicsOpenMiamMiamBundle:Admin:admin.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h1>{{ 'admin.association.branch.list.title'|transchoice(branchesWithNbProducersAndNextOccurrence|length, {'%nb%': branchesWithNbProducersAndNextOccurrence|length}) }}</h1>
        </div>
        <div class="col-md-6">
            <a href="{{ path('open_miam_miam.admin.association.branch.create', {'id': association.id}) }}" class="btn btn-primary btn-lg pull-right">
                <span class="glyphicon glyphicon-plus-sign"></span>
                {{ 'admin.association.branch.list.create'|trans }}
            </a>
        </div>
    </div>

    {% if branchesWithNbProducersAndNextOccurrence|length > 0 %}
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-branches">
                <thead>
                <tr>
                    <th>{{ 'admin.association.branch.list.name'|trans }}</th>
                    <th>{{ 'admin.association.branch.list.nb_producers'|trans }}</th>
                    <th>{{ 'admin.association.branch.list.next_occurrence'|trans }}</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {% for branchWithNbProducersAndNextOccurrence in branchesWithNbProducersAndNextOccurrence %}
                    {% set branch = branchWithNbProducersAndNextOccurrence|first %}
                    {% set nbProducers = branchWithNbProducersAndNextOccurrence.nbProducers %}
                    {% set nextOccurrence = branchWithNbProducersAndNextOccurrence.nextOccurrence %}
                    <tr>
                        <td>
                            <a href="{{ path('open_miam_miam.admin.association.branch.edit', {'id': association.id, 'branchId': branch.id}) }}">
                                {{ branch.name }}
                            </a>
                        </td>
                        <td>
                            {{ nbProducers }}
                        </td>
                        <td>
                            {{ nextOccurrence.begin|format_date(null, null, null, constant('IntlDateFormatter::FULL')) }}
                        </td>
                        <td>
                            <a href="{{ path('open_miam_miam.admin.association.branch.edit', {'id': association.id, 'branchId': branch.id}) }}" class="btn btn-primary btn-xs" title="{{ 'admin.association.branch.list.edit'|trans }}"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a href="{{ path('open_miam_miam.admin.association.branch.edit_calendar', {'id': association.id, 'branchId': branch.id}) }}" class="btn btn-primary btn-xs" title="{{ 'admin.association.branch.list.edit_calendar'|trans }}"><span class="glyphicon glyphicon-time"></span></a>
                            <a data-url="{{ path('open_miam_miam.admin.association.branch.delete', {'id': association.id, 'branchId': branch.id}) }}" class="btn btn-danger btn-xs" title="{{ 'admin.association.branch.list.delete'|trans }}" data-toggle="modal" href="#delete-dialog"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        {% include 'IsicsOpenMiamMiamBundle:Admin:empty.html.twig' with {'message': 'admin.association.branch.list.no_branch'|trans} %}
    {% endif %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {
            new OpenMiamMiam.DeleteDialog;
        });
    </script>
{% endblock %}