{% set branch=order.branchOccurrence.branch %}

<h2>{{ 'mail.consumer.new_order.withdrawal'|trans }}</h2>
<p>
    <strong>{{ branch.name }}</strong><br />
    {{ branch.address1 }}<br />
    {% if branch.address2 != null %}
        {{ branch.address2 }}<br />
    {% endif %}
    {{ branch.zipcode }} {{ branch.city }}
</p>
<p>
    <strong>
        {{ order.branchOccurrence.begin|format_date(null, null, null, constant('IntlDateFormatter::FULL'))|capitalize }}<br />
        {{ order.branchOccurrence.begin|format_time(null, null, null, constant('IntlDateFormatter::SHORT')) }}
        -
        {{ order.branchOccurrence.end|format_time(null, null, null, constant('IntlDateFormatter::SHORT')) }}
    </strong>
</p>

<h2>{{ 'mail.consumer.new_order.order.title'|trans }}</h2>
<table width="700" border="1" cellpadding="3" cellspacing="0">
    <thead>
    <tr>
        <th width="30%">{{ 'mail.consumer.new_order.order.product'|trans }}</th>
        <th width="25%">{{ 'mail.consumer.new_order.order.producer'|trans }}</th>
        <th width="15%" align="center">{{ 'mail.consumer.new_order.order.price'|trans }}</th>
        <th width="15%" align="center">{{ 'mail.consumer.new_order.order.quantity'|trans }}</th>
        <th width="15%" align="center">{{ 'mail.consumer.new_order.order.row_total'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for row in order.salesOrderRows %}
        <tr>
            <td width="30%">{{ row.name }}</td>
            <td width="25%">{{ row.producer }}</td>
            <td width="15%" align="right">{{ row.unitPrice|number_format_currency(open_miam_miam.currency) }}</td>
            <td width="15%" align="center">{{ row.quantity }}</td>
            <td width="15%" align="right">{{ row.total|number_format_currency(open_miam_miam.currency) }}</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th colspan="4" align="right">{{ 'mail.consumer.new_order.order.total'|trans }}</th>
        <td align="right"><strong>{{ order.total|number_format_currency(open_miam_miam.currency) }}</strong></td>
    </tr>
    </tfoot>
</table>

{% if order.consumerComment != null %}
    <h2>{{ 'mail.consumer.new_order.order.comment'|trans }}</h2>
    <p>{{ order.consumerComment }}</p>
{% endif %}