{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% extends 'IsicsOpenMiamMiamBundle:Admin:admin.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h1>{{ 'admin.super.associations.list.title'|transchoice(associations|length, {'%nb%': associations|length}) }}</h1>
        </div>
        <div class="col-md-6">
            <a href="{{ path('open_miam_miam.admin.super.association.create') }}" class="btn btn-primary btn-lg pull-right">
                <span class="glyphicon glyphicon-plus-sign"></span>
                {{ 'admin.super.associations.list.create'|trans }}
            </a>
        </div>
    </div>

    {% if associations|length > 0 %}
        {{ pagerfanta(associations, 'twitter_bootstrap3_translated') }}
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-super-associations">
                <thead>
                    <tr>
                        <th>{{ 'admin.super.associations.list.name'|trans }}</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {% for association in associations %}
                        <tr>
                            <td><a href="{{ path('open_miam_miam.admin.super.association.edit', {'associationId': association.id}) }}">{{ association.name }}</a></td>
                            <td>
                                <a href="{{ path('open_miam_miam.admin.super.association.edit', {'associationId': association.id}) }}" class="btn btn-primary btn-xs" title="{{ 'admin.super.associations.list.edit'|trans }}"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a data-url="{{ path('open_miam_miam.admin.super.association.delete', {'associationId': association.id}) }}" class="btn btn-danger btn-xs" title="{{ 'admin.super.associations.list.delete'|trans }}" data-toggle="modal" href="#delete-dialog"><span class="glyphicon glyphicon-trash"></span></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {{ pagerfanta(associations, 'twitter_bootstrap3_translated') }}

        {% include 'IsicsOpenMiamMiamBundle:Admin:Super\\Association\\deleteDialog.html.twig' %}
    {% else %}
        {% include 'IsicsOpenMiamMiamBundle:Admin:empty.html.twig' with {'message': 'admin.super.associations.list.no_association'|trans} %}
    {% endif %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {
            new OpenMiamMiam.DeleteDialog;
        });
    </script>
{% endblock %}
