<h3>{{ 'admin.association.consumers.comments.add.title'|trans }}</h3>

<div>
    <form method="post" action="{{ path('open_miam_miam.admin.association.consumer.addComment', {
            'associationId': association.id,
            'consumerId': consumer.id
        }) }}"{{ form_enctype(form) }}>

        {{ form_errors(form) }}
        {{ form_widget(form.content) }}
        {{ form_rest(form) }}
        <br/><br/>
        <input type="submit" class="btn btn-success" value="{{ 'admin.association.consumers.comments.add.button'|trans }}" />
    </form>
</div>
