{% if consumer is not null %}
    {% set formAction = path('open_miam_miam.admin.association.consumer.add_comment', {
        'associationId': association.id,
        'consumerId': consumer.id
    }) %}
{% else %}
    {% set formAction = path('open_miam_miam.admin.association.consumer.add_anonymous_comment', {
        'associationId': association.id
    }) %}
{% endif %}
<form method="post" action="{{ formAction }}" {{ form_enctype(form) }}>
    <div class="row">
        <div class="col-md-8">
            {{ form_errors(form) }}
            {{ form_widget(form.content, {'attr': {'class': 'form-control', 'placeholder': 'admin.association.consumers.comments.add.title'|trans } }) }}
            {{ form_rest(form) }}
        </div>
        <div class="col-md-4">
            <input type="submit" class="btn btn-success btn-lg" value="{{ 'admin.association.consumers.comments.add.button'|trans }}" />
        </div>
    </div>
</form>
