{% extends 'IsicsOpenMiamMiamBundle:Admin:admin.html.twig' %}

{% block content %}
    <h1>
        {% if consumer is not null %}
            {{ 'admin.association.consumer.orders.complete.title'|trans({'%consumer%': format_user_identity(consumer)}) }}
        {%  else %}
            {{ 'admin.association.consumer.orders.complete.anonymous_title'|trans }}
        {%  endif %}
    </h1>

    <div class="panel panel-default panel-sales-orders-filter">
        <form method="post">
            <div class="panel-body">
                <h4>Filtres</h4>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td>{{ 'admin.association.consumer.orders.complete.filter.branch'|trans }}</td>
                                <td>{{ 'admin.association.consumer.orders.complete.filter.dates'|trans }}</td>
                                <td>{{ 'admin.association.consumer.orders.complete.filter.total'|trans }}</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ form_widget(form.branch) }}</td>
                                <td>
                                    {{ form_label(form.minDate, 'admin.association.consumer.orders.complete.filter.minDate'|trans) }}
                                    <div class="input-group-inline">
                                        <div class="input-group date datepicker" id="min-date-picker">
                                            {{ form_widget(form.minDate, {'attr': {'class': 'form-control'}}) }}
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>

                                    {{ form_label(form.maxDate, 'admin.association.consumer.orders.complete.filter.maxDate'|trans) }}
                                    <div class="input-group-inline">
                                        <div class="input-group date datepicker" id="max-date-picker">
                                            {{ form_widget(form.maxDate, {'attr': {'class': 'form-control'}}) }}
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    {{ form_label(form.minTotal, 'admin.association.consumer.orders.complete.filter.minTotal'|trans) }}
                                    <div class="input-group-inline input-total">
                                        <div class="input-group">
                                            {{ form_widget(form.minTotal, {'attr': {'id': 'min-date-input', 'class': 'filter-input form-control'}}) }}
                                        </div>
                                    </div>

                                    {{ form_label(form.maxTotal, 'admin.association.consumer.orders.complete.filter.maxTotal'|trans) }}
                                    <div class="input-group-inline input-total">
                                        <div class="input-group">
                                            {{ form_widget(form.maxTotal, {'attr': {'id': 'max-date-input', 'class': 'filter-input form-control'}}) }}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    {{ form_rest() }}
                    <input class="pull-right btn btn-primary" id="submit-filter-button" type="submit" value="{{ 'admin.association.consumer.orders.complete.filter.filter'|trans }}">
                </div>
            </div>
        </form>
    </div>

    {% if salesOrders|length > 0 %}
        <div class="table-responsive">
            <table class="table table-bordered table-condensed table-striped table-association-orders">
                <thead>
                    <tr>
                        <th>{{ 'admin.association.consumer.orders.complete.ref'|trans }}</th>
                        <th>{{ 'admin.association.consumer.orders.complete.date'|trans }}</th>
                        <th>{{ 'admin.association.consumer.orders.complete.branch'|trans }}</th>
                        <th>{{ 'admin.association.consumer.orders.complete.amount'|trans }}</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {% for salesOrder in salesOrders %}
                        <tr>
                            <td>{{ salesOrder.ref }}</td>
                            <td>{{ salesOrder.date|format_datetime }}</td>
                            <td>{{ salesOrder.branchOccurrence.branch.name }} - {{ salesOrder.branchOccurrence.date|format_date }}</td>
                            <td>{{ salesOrder.total|number_format_currency(open_miam_miam.currency)}}</td>
                            <td>
                                <a href="{{ path('open_miam_miam.admin.association.sales_order.edit', {'id': association.id, 'salesOrderId': salesOrder.id}) }}"
                                    class="btn btn-primary btn-xs">
                                    {% if salesOrder.branchOccurrence.date > date() %}
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    {%  else %}
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    {%  endif %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {{ pagerfanta(salesOrders, 'twitter_bootstrap3_translated') }}
    {% else %}
        {% include 'IsicsOpenMiamMiamBundle:Admin:empty.html.twig' with {'message': 'admin.association.consumer.orders.complete.filter.no_order'|trans} %}
    {% endif %}
{%  endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {
            new OpenMiamMiam.SalesOrderFilterForm();
        });
    </script>
{% endblock %}