{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% if consumer.comments|length > 0 %}
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-sales-orders">
            <thead>
            <tr>
                <th>{{ 'admin.association.consumers.comments.list.date'|trans }}</th>
                <th>{{ 'admin.association.consumers.comments.list.writtenBy'|trans }}</th>
                <th>{{ 'admin.association.consumers.comments.list.isProcessed'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for comment in consumer.comments %}
                <tr>
                    <td>{{ comment.writingDate|format_date }}</td>
                    <td>{{ comment.writer }}</td>
                    <td>
                        {% if comment.isProcessed %}
                            <a class="btn btn-default btn-xs" title="{{'admin.association.consumers.comments.list.processed'|trans }}">
                                <span class="glyphicon glyphicon-ok" />
                            </a>
                        {% else %}
                            <a href="{{ path('open_miam_miam.admin.association.consumer.processComment', {
                                'associationId': association.id,
                                'consumerId': consumer.id,
                                'commentId': comment.id
                            }) }}" class="btn btn-default btn-xs" title="{{ 'admin.association.consumers.comments.list.process'|trans }}">
                                <span class="glyphicon glyphicon-cog" />
                            </a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td colspan=4>{{ comment.content|nl2br }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    {% include 'IsicsOpenMiamMiamBundle:Admin:empty.html.twig' with {'message': 'admin.association.consumers.comments.list.no_comment'|trans} %}
{% endif %}

{{ render(controller('IsicsOpenMiamMiamBundle:Admin/Association/Consumer:addComment', {
    'associationId': association.id,
    'consumerId': consumer.id,
})) }}

