{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% extends 'IsicsOpenMiamMiamBundle:Admin:admin.html.twig' %}

{% block content %}
    <h1>
        {{ 'admin.association.consumers.list.title'|transchoice(subscriptions|length, {'%nb%': subscriptions|length}) }}
    </h1>

    {% if subscriptions|length > 0 %}
        <div class="table-responsive">
            <table class="table table-bordered table-condensed table-striped table-association-consumers">
                <thead>
                    <tr>
                        <th>{{ 'admin.association.consumers.list.ref'|trans }}</th>
                        <th>{{ 'admin.association.consumers.list.name'|trans }}</th>
                        <th>{{ 'admin.association.consumers.list.city'|trans }}</th>
                        <th>{{ 'admin.association.consumers.list.email'|trans }}</th>
                        <th>{{ 'admin.association.consumers.list.phone_number'|trans }}</th>
                        <th>{{ 'admin.association.consumers.list.credit'|trans }}</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                {% for subscription in subscriptions %}
                    {% set user = subscription.user %}
                    <tr>
                        {% if user %}
                            <td>{{ user|format_consumer_ref }}</td>
                            <td>{{ format_user_identity(user) }}</td>
                            <td>{{ user.city }} ({{ user.zipcode }})</td>
                            <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                            <td>{% if user.phoneNumber %}{{ user.phoneNumber }}{% else %}-{% endif %}</td>
                            <td class="consumer-credit-container"
                                data-manage-url="{{ url('open_miam_miam.admin.association.payment.manage_user_payments', {
                                    'id':     association.id,
                                    'userId': user.id
                                }) }}"
                                data-refresh-url="{{ url('open_miam_miam.admin.association.payment.user_summary', {
                                    'id':     association.id,
                                    'userId': user.id
                                }) }}">
                                {{ render(controller('IsicsOpenMiamMiamBundle:Admin/Association/Payment:userSummary', {
                                    'id':     association.id,
                                    'userId': user.id
                                })) }}
                            </td>
                            <td>
                                <a href="{{ path('open_miam_miam.admin.association.payment.manage_user_payments', {
                                    'id': association.id,
                                    'userId': user.id
                                }) }}" class="btn btn-primary btn-xs manage" title="{{ 'admin.association.consumers.payments.manage' | trans }}">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                                <a href="{{ path('open_miam_miam.admin.association.consumer.list_payments', {
                                    'id': association.id,
                                    'consumerId': user.id
                                }) }}" class="btn btn-default btn-xs" title="{{ 'admin.association.consumers.list.payments'|trans }}">
                                    <span class="glyphicon glyphicon-list"></span>
                                </a>
                            </td>
                        {% else %}
                            <td>-</td>
                            <td>{{ 'admin.association.consumers.list.anonymous'|trans }}</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td class="consumer-credit-container"
                                data-manage-url="{{ url('open_miam_miam.admin.association.payment.manage_anonymous_payments', {
                                    'id':     association.id
                                }) }}"
                                data-refresh-url="{{ url('open_miam_miam.admin.association.payment.anonymous_summary', {
                                    'id':     association.id
                                }) }}">
                                {{ render(controller('IsicsOpenMiamMiamBundle:Admin/Association/Payment:anonymousSummary', {
                                    'id': association.id
                                })) }}
                            </td>
                            <td>
                                <a href="{{ path('open_miam_miam.admin.association.payment.manage_anonymous_payments', {
                                    'id': association.id
                                }) }}" class="btn btn-primary btn-xs manage" title="{{ 'admin.association.consumers.payments.manage' | trans }}">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                                <a href="{{ path('open_miam_miam.admin.association.consumer.list_anonymous_payments', {
                                    'id': association.id
                                }) }}" class="btn btn-default btn-xs" title="{{ 'admin.association.consumers.list.payments'|trans }}">
                                    <span class="glyphicon glyphicon-list"></span>
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {{ pagerfanta(subscriptions, 'twitter_bootstrap3_translated') }}
    {% else %}
        {% include 'IsicsOpenMiamMiamBundle:Admin:empty.html.twig' with {'message': 'admin.association.consumers.list.no_consumer'|trans} %}
    {% endif %}

    <div class="modal fade" id="manage-payments-dialog" tabindex="-1" role="dialog" aria-labelledby="Manage payments" aria-hidden="true"></div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {
            $('.consumer-credit-container').each(function(){
                var $container = $(this);

                new OpenMiamMiam.AllocatePaymentModal(
                    $container,
                    $container.attr('data-refresh-url'),
                    $container.attr('data-manage-url'),
                    $container.parents('tr:first').find('a.manage')
                );
            });
        });
    </script>
{% endblock %}