{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% extends 'IsicsOpenMiamMiamBundle:Admin:admin.html.twig' %}

{% block content %}
    <h1>
        {{ 'admin.association.consumers.list.title'|transchoice(subscriptions|length, {'%nb%': subscriptions|length}) }}
    </h1>

    <form method="post">
        {{ form_label(form.ref, 'admin.association.consumers.list.filter.ref'|trans,
        {'label_attr': {'title': 'admin.association.consumers.list.filter.ref_title'|trans}}) }}
        {{ form_widget(form.ref) }}

        {{ form_label(form.lastName, 'admin.association.consumers.list.filter.last_name'|trans) }}
        {{ form_widget(form.lastName) }}

        {{ form_label(form.firstName, 'admin.association.consumers.list.filter.first_name'|trans) }}
        {{ form_widget(form.firstName) }}

        {{ form_label(form.creditor,'admin.association.consumers.list.filter.creditor'|trans) }}
        {{ form_widget(form.creditor) }}

        <input type="submit" value={{'admin.association.consumers.list.filter'|trans }}>
    </form>

    {% if subscriptions|length > 0 %}
        <div class="table-responsive">
            <table class="table table-bordered table-condensed table-striped table-association-consumers">
                <thead>
                    <tr>
                        <th>{{ 'admin.association.consumers.list.ref'|trans }}</th>
                        <th>{{ 'admin.association.consumers.list.name'|trans }}</th>
                        <th>{{ 'admin.association.consumers.list.city'|trans }}</th>
                        <th>{{ 'admin.association.consumers.list.email'|trans }}</th>
                        <th>{{ 'admin.association.consumers.list.phone_number'|trans }}</th>
                        <th>{{ 'admin.association.consumers.list.credit'|trans }}</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                {% for subscription in subscriptions %}
                    {% set user = subscription.user %}
                    <tr>
                        {% if user %}
                            <td>{{ user|format_consumer_ref }}</td>
                            <td>{{ format_user_identity(user) }}</td>
                            <td>{{ user.city }} ({{ user.zipcode }})</td>
                            <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                            <td>{% if user.phoneNumber %}{{ user.phoneNumber }}{% else %}-{% endif %}</td>
                            <td class="consumer-credit-container nowrap">
                                {{ render(controller('IsicsOpenMiamMiamBundle:Admin/Association/Payment:userSummary', {
                                    'id':     association.id,
                                    'userId': user.id
                                })) }}
                            </td>
                            <td class="nowrap">
                                <a href="{{ path('open_miam_miam.admin.association.consumer.show', {
                                    'associationId': association.id,
                                    'consumerId': user.id
                                }) }}" class="btn btn-default btn-xs" title="{{ 'admin.association.consumers.list.comments'|trans }}">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                    {{ 'admin.association.consumers.list.show_details'|trans }}
                                </a>
                            </td>
                        {% else %}
                            <td>-</td>
                            <td>{{ 'admin.association.consumers.list.anonymous'|trans }}</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td class="consumer-credit-container nowrap">
                                {{ render(controller('IsicsOpenMiamMiamBundle:Admin/Association/Payment:anonymousSummary', {
                                    'id': association.id
                                })) }}
                            </td>
                            <td class="nowrap">
                                <a href="{{ path('open_miam_miam.admin.association.consumer.show_anonymous', {
                                    'associationId': association.id
                                }) }}" class="btn btn-default btn-xs" title="{{ 'admin.association.consumers.list.comments'|trans }}">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                    {{ 'admin.association.consumers.list.show_details'|trans }}
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {{ pagerfanta(subscriptions, 'twitter_bootstrap3_translated') }}
    {% else %}
        {% include 'IsicsOpenMiamMiamBundle:Admin:empty.html.twig' with {'message': 'admin.association.consumers.list.no_consumer'|trans} %}
    {% endif %}
{% endblock %}
