{% form_theme form '@IsicsOpenMiamMiam/form.html.twig' %}

{% set currentPath = path('open_miam_miam.admin.association.consumer.list', {'id': association.id}) %}
<form action="{{ currentPath }}" method="get" class="filter association-consumers-filter">
    <div class="row">
        <div class="form-row form-group col-md-8">
            {{ form_errors(form.ref) }}
            {{ form_widget(form.ref, {'attr': {'placeholder': 'admin.association.consumers.list.filter.ref'|trans}}) }}
        </div>
        <div class="form-row form-group col-md-4">
            {{ form_errors(form.creditor) }}
            {{ form_widget(form.creditor, {'attr': {'placeholder': 'admin.association.consumers.list.filter.creditor'|trans}}) }}
            {{ form_label(form.creditor, 'admin.association.consumers.list.filter.creditor'|trans) }}
        </div>
    </div>
    <div class="row">
        <div class="form-row form-group col-md-5">
            {{ form_errors(form.firstName) }}
            {{ form_widget(form.firstName, {'attr': {'placeholder': 'admin.association.consumers.list.filter.first_name'|trans}}) }}
        </div>
        <div class="form-row form-group col-md-5">
            {{ form_errors(form.lastName) }}
            {{ form_widget(form.lastName, {'attr': {'placeholder': 'admin.association.consumers.list.filter.last_name'|trans}}) }}
        </div>
        <div class="form-row form-group col-md-2">
            <div class="btn-group pull-right">
                <a href="{{ currentPath }}" class="btn btn-default" title="{{ 'admin.association.consumers.list.filter.clear'|trans }}">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
                <button type="submit" class="btn btn-primary">
                    {{ 'admin.association.consumers.list.filter'|trans }}
                </button>
            </div>
        </div>
    </div>
    {{ form_rest(form) }}
</form>