{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% extends 'IsicsOpenMiamMiamBundle:Admin:admin.html.twig' %}

{% block content %}
    {% if consumer is not null %}
        <h1>{{ 'admin.association.consumers.show.title'|trans({'%consumer%': format_user_identity(consumer)}) }}</h1>
    {% else %}
        <h1>{{ 'admin.association.consumers.show.anonymous_title'|trans }}</h1>
    {% endif %}

    <div id="consumer-show-container">
        <div class="row">
            <div class="col-md-12">
                <a href="{{ path('open_miam_miam.admin.association.consumer.list', {
                    'id': association.id,
                }) }}" class="pull-right">{{ 'admin.return'|trans }}</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            {{ 'admin.association.consumers.list.credit'|trans }}
                        </h2>
                    </div>
                    <div class="panel-body">
                        {% if consumer is not null %}
                            <div class="consumer-credit-container nowrap"
                                 data-manage-url="{{ url('open_miam_miam.admin.association.payment.manage_user_payments', {
                                 'id':     association.id,
                                 'userId': consumer.id
                                 }) }}"
                                 data-refresh-url="{{ url('open_miam_miam.admin.association.payment.user_summary', {
                                 'id':     association.id,
                                 'userId': consumer.id
                                 }) }}">
                                <p class="left-to-pay">
                                    {{ render(controller('IsicsOpenMiamMiamBundle:Admin/Association/Payment:userSummary', {
                                    'id':     association.id,
                                    'userId': consumer.id
                                    })) }}
                                </p>
                                <a href="{{ path('open_miam_miam.admin.association.payment.manage_user_payments', {
                                'id': association.id,
                                'userId': consumer.id
                                }) }}" class="btn btn-primary manage">
                                    <span class="glyphicon glyphicon-edit"></span>
                                    {{ 'admin.association.consumers.payments.manage' | trans }}
                                </a>
                            </div>
                        {% else %}
                            <div class="consumer-credit-container nowrap"
                                 data-manage-url="{{ url('open_miam_miam.admin.association.payment.manage_anonymous_payments', {
                                 'id':     association.id
                                 }) }}"
                                 data-refresh-url="{{ url('open_miam_miam.admin.association.payment.anonymous_summary', {
                                 'id':     association.id
                                 }) }}">
                                <p class="left-to-pay">
                                    {{ render(controller('IsicsOpenMiamMiamBundle:Admin/Association/Payment:anonymousSummary', {
                                    'id': association.id
                                    })) }}
                                </p>
                                <a href="{{ path('open_miam_miam.admin.association.payment.manage_anonymous_payments', {
                                'id': association.id
                                }) }}" class="btn btn-primary manage">
                                    <span class="glyphicon glyphicon-edit"></span>
                                    {{ 'admin.association.consumers.payments.manage' | trans }}
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            {{ 'admin.association.consumers.show.orders.title'|trans }}
                        </h2>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>{{ 'admin.association.consumer.orders.date'|trans }}</th>
                                    <th>{{ 'admin.association.consumer.orders.branch'|trans }}</th>
                                    <th>{{ 'admin.association.consumer.orders.amount'|trans }}</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for salesOrder in historySalesOrder %}
                                        <tr>
                                            <td>{{ salesOrder.date|format_date }}</td>
                                            <td>{{ salesOrder.branchOccurrence.branch.name }}<br/>{{ salesOrder.branchOccurrence.date|format_date }}</td>
                                            <td>{{ salesOrder.total|number_format_currency(open_miam_miam.currency)}}</td>
                                            <td>
                                                <a href="{{ path('open_miam_miam.admin.association.sales_order.edit', {'id': association.id, 'salesOrderId': salesOrder.id}) }}" class="btn btn-primary btn-xs">
                                                    {% if salesOrder.branchOccurrence.date > date() %}
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    {%  else %}
                                                        <span class="glyphicon glyphicon-eye-open"></span>
                                                    {%  endif %}
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <a
                            {% if consumer is not null %}
                                href="{{ path('open_miam_miam.admin.association.consumer.list_orders', {'associationId': association.id, 'consumerId': consumer.id}) }}"
                            {%  else %}
                                href="{{ path('open_miam_miam.admin.association.consumer.list_anonymous_orders', {'associationId': association.id}) }}"
                            {% endif %}
                            class="btn btn-primary manage">
                            {{ 'admin.association.consumer.orders.complete_list'|trans }}
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">{{ 'admin.association.consumers.show.payments.title'|trans }}</h2>
                    </div>
                    <div class="panel-body">
                        {% if consumer is not null %}
                            <a href="{{ path('open_miam_miam.admin.association.consumer.list_payments', {
                            'id': association.id,
                            'consumerId': consumer.id
                            }) }}" class="btn btn-default">
                                <span class="glyphicon glyphicon-list"></span>
                                {{ 'admin.association.consumers.list.payments'|trans }}
                            </a>
                        {% else %}
                            <a href="{{ path('open_miam_miam.admin.association.consumer.list_anonymous_payments', {
                            'id': association.id
                            }) }}" class="btn btn-default">
                                <span class="glyphicon glyphicon-list"></span>
                                {{ 'admin.association.consumers.list.payments'|trans }}
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            {{ 'admin.association.consumers.comments.list.title'|trans }}
                        </h2>
                    </div>
                    <div class="panel-body">
                        {% if consumer is not null %}
                            {{ render(controller('IsicsOpenMiamMiamBundle:Admin/Association/Consumer:listComments', {
                            'associationId': association.id,
                            'consumerId': consumer.id,
                            })) }}
                        {% else %}
                            {{ render(controller('IsicsOpenMiamMiamBundle:Admin/Association/Consumer:listComments', {
                            'associationId': association.id
                            })) }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a href="{{ path('open_miam_miam.admin.association.consumer.list', {
                'id': association.id,
            }) }}" class="pull-right">{{ 'admin.return'|trans }}</a>
        </div>
    </div>

    <div class="modal fade" id="manage-payments-dialog" tabindex="-1" role="dialog" aria-labelledby="Manage payments" aria-hidden="true"></div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {
            var $container = $('.consumer-credit-container');

            new OpenMiamMiam.AllocatePaymentModal(
                    $container.find('p.left-to-pay'),
                    $container.attr('data-refresh-url'),
                    $container.attr('data-manage-url'),
                    $container.find('a.manage')
            );

            new OpenMiamMiam.ConsumerComment(
                    $('#association-consumer-comments'),
                    {% if consumer is not null %}
                    {{ url('open_miam_miam.admin.association.consumer.list_comments', {
                        'associationId': association.id,
                        'consumerId':    consumer.id
                    })|json_encode|raw }}
                    {% else %}
                    {{ url('open_miam_miam.admin.association.consumer.list_anonymous_comments', {
                        'associationId': association.id
                    })|json_encode|raw }}
                    {% endif %}
            );
        });
    </script>
{% endblock %}