{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% extends app.request.xmlHttpRequest ? 'IsicsOpenMiamMiamBundle:Admin:addProductsDialog.html.twig' : 'IsicsOpenMiamMiamBundle:Admin:admin.html.twig' %}

{% block content %}
    {% if not app.request.xmlHttpRequest %}
        <h1>{{ 'admin.producer.sales_orders.add_products.title'|trans }}</h1>
    {% endif %}

    {{ form_start(artificialProductForm, {'attr': {'novalidate': '', 'id': 'add-artificial-product-form', 'class': 'form form-inline'}}) }}
        {% include 'IsicsOpenMiamMiamBundle:Admin\\Producer\\SalesOrder:artificialProductFormFields.html.twig' %}
    {{ form_end(artificialProductForm) }}

    {{ form_start(filterForm, {'attr': {'novalidate': '', 'id': 'filter-products-form', 'class': 'form form-inline'}}) }}
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-calendar">
                <thead>
                <tr>
                    <th>{{ 'admin.producer.sales_orders.add_products.name'|trans }}</th>
                    <th>{{ 'admin.producer.sales_orders.add_products.price'|trans }}</th>
                    <th>{{ 'admin.producer.sales_orders.add_products.availability'|trans }}</th>
                    <th>&nbsp;</th>
                </tr>
                <tr>
                    <td>
                        {{ form_errors(filterForm.name) }}
                        {{ form_widget(filterForm.name) }}
                    </td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>{{ form_widget(filterForm.filter) }}</td>
                </tr>
                </thead>
                <tbody>
                   {% include 'IsicsOpenMiamMiamBundle:Admin\\Producer\\SalesOrder:productsToAdd.html.twig' %}
                </tbody>
            </table>
        </div>
    {{ form_end(filterForm) }}

    {% if not app.request.xmlHttpRequest %}
        <a href="{{ path('open_miam_miam.admin.producer.sales_order.edit', {'id': producer.id, 'salesOrderId': order.id}) }}" class="pull-right">{{ 'admin.producer.sales_orders.add_products.return'|trans }}</a>
    {% endif %}
{% endblock content %}
