{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% extends 'IsicsOpenMiamMiamBundle:Admin:admin.html.twig' %}

{% block content %}
    <h1>{{ 'admin.producer.sales_orders.form.add_rows.title'|trans({'%ref%': salesOrder.ref}) }}</h1>

    {{ form_start(form, {'attr': {'id': 'open_miam_miam_admin_sales_order_add_rows_form', 'novalidate': '', 'class': 'form form-inline'}}) }}
    {{ form_errors(form) }}

        {% if form.children.products|length > 0 %}
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-calendar">
                    <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>{{ 'admin.producer.sales_orders.form.add_rows.name'|trans }}</th>
                        <th>{{ 'admin.producer.sales_orders.form.add_rows.price'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>&nbsp;</td>
                            <td>
                                {{ form_errors(form.artificialProduct.name) }}
                                {{ form_widget(form.artificialProduct.name) }}
                            </td>
                            <td>
                                {{ form_errors(form.artificialProduct.price) }}
                                {{ form_widget(form.artificialProduct.price) }}
                            </td>
                        </tr>
                        {% set products = form.children.products.vars.choices %}
                        {% for child in form.children.products %}
                            <tr>
                                <td>
                                    {{ form_errors(child) }}
                                    {{ form_widget(child) }}
                                </td>
                                <td>{{ products[child.vars.value].data.name }}</td>
                                <td>{{ products[child.vars.value].data.price|number_format_currency(open_miam_miam.currency) }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <button type="submit" class="btn btn-primary btn-lg" />
                <span class="glyphicon glyphicon-floppy-save"></span>
                {{ 'admin.save'|trans }}
            </button>
        {% else %}
            {% include 'IsicsOpenMiamMiamBundle:Admin:empty.html.twig' with {'message': 'admin.producer.sales_orders.form.sales_order_rows.no'|trans} %}
        {% endif %}

    {% do form.add.setRendered %}
    {{ form_end(form) }}

    <a href="{{ path('open_miam_miam.admin.producer.sales_order.edit', {'id': producer.id, 'salesOrderId': salesOrder.id}) }}" class="pull-right">{{ 'admin.producer.sales_orders.form.add_rows.return'|trans }}</a>
{% endblock content %}
