{% form_theme form '@IsicsOpenMiamMiam/form.html.twig' %}

{% set currentPath = path('open_miam_miam.admin.producer.sales_order.history', {'id': producer.id}) %}

<form action="{{ currentPath }}" method="get" class="filter producer-sales-orders-filter">
    <div class="row">
        <div class="form-row form-group col-md-5">
            {{ form_errors(form.branch) }}
            {{ form_widget(form.branch) }}
        </div>
        <div class="form-row form-group col-md-5">
            {{ form_errors(form.minDate) }}
            {{ form_errors(form.maxDate) }}
            <div>
                <div class="input-group-inline">
                    <div class="input-group date datepicker" id="producer-sales-order-history-min-date-picker">
                        {{ form_widget(form.minDate, {'attr': {'placeholder': 'admin.producer.sales_orders.list_history.filter.min_date'|trans}}) }}
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="input-group-inline">
                    <div class="input-group date datepicker" id="producer-sales-order-history-max-date-picker">
                        {{ form_widget(form.maxDate, {'attr': {'placeholder': 'admin.producer.sales_orders.list_history.filter.max_date'|trans}}) }}
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row form-group col-md-2">
            <div class="btn-group pull-right">
                <a href="{{ currentPath }}" class="btn btn-default" title="{{ 'admin.association.consumer.orders.complete.filter.clear'|trans }}">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
                <button type="submit" class="btn btn-primary">
                    {{ 'admin.association.consumer.orders.complete.filter.filter'|trans }}
                </button>
            </div>
        </div>
    </div>
    {{ form_rest(form) }}
</form>