{% extends 'IsicsOpenMiamMiamBundle:Admin:admin.html.twig' %}

{% block content %}
    <h1>
        {{ 'admin.producer.sales_orders.list_history.title'|trans }}
    </h1>

    {% include '@IsicsOpenMiamMiam/Admin/Producer/SalesOrder/listHistoryFilter.html.twig' with {'form': form} %}

    {% if branchOccurrences|length > 0 %}
        {{ pagerfanta(branchOccurrences, 'twitter_bootstrap3_translated') }}
        {% for branchOccurrence in branchOccurrences %}
            <h2>{{ branchOccurrence.branch.name }} - {{ branchOccurrence.begin|format_date }}</h2>
            {% set producerBranchOccurrenceSalesOrders = get_producer_sales_orders_for_branch_occurrence(producer, branchOccurrence) %}
            {% if producerBranchOccurrenceSalesOrders.salesOrders|length > 0 %}
                <div class="table-responsive">
                    <table class="table table-bordered table-condensed table-striped table-producer-sales-orders">
                        <thead>
                            <tr>
                                <th>{{ 'admin.producer.sales_orders.list.ref'|trans }}</th>
                                <th>{{ 'admin.producer.sales_orders.list.date'|trans }}</th>
                                <th>{{ 'admin.producer.sales_orders.list.consumer'|trans }}</th>
                                <th>{{ 'admin.producer.sales_orders.list.producer_total'|trans }}</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for producerSalesOrder in producerBranchOccurrenceSalesOrders.sortedSalesOrder %}
                                <tr>
                                    <td>
                                        <a href="{{ path('open_miam_miam.admin.producer.sales_order.edit', {'id': producer.id, 'salesOrderId': producerSalesOrder.salesOrder.id}) }}">
                                            {{ producerSalesOrder.salesOrder.ref }}
                                        </a>
                                    </td>
                                    <td>{{ producerSalesOrder.salesOrder.date|format_datetime(null, null, null, constant('IntlDateFormatter::SHORT')) }}</td>
                                    <td>
                                        {% if producerSalesOrder.salesOrder.user %}
                                            {{ format_identity(producerSalesOrder.salesOrder.lastname, producerSalesOrder.salesOrder.firstname, '%lastname% %firstname_first_letter%') }}.({{ producerSalesOrder.salesOrder.user|format_consumer_ref }})
                                            {% if producerSalesOrder.salesOrder.user.phoneNumber is not null %}
                                                <br />
                                                {{ 'admin.producer.sales_orders.list.phone_number'|trans }}
                                                {{ producerSalesOrder.salesOrder.user.phoneNumber }}
                                            {% endif %}
                                        {% else %}
                                            {{ 'admin.association.sales_orders.anonymous'|trans }}
                                        {% endif %}
                                    </td>
                                    <td>{{ producerSalesOrder.total|number_format_currency(open_miam_miam.currency) }}</td>
                                    <td>
                                        <a href="{{ path('open_miam_miam.admin.producer.sales_order.edit', {'id': producer.id, 'salesOrderId': producerSalesOrder.salesOrder.id}) }}" class="btn btn-primary btn-xs" title="{{ 'admin.producer.sales_orders.list.edit'|trans }}">
                                            <span class="glyphicon glyphicon-eye-open"></span>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3">{{ 'admin.association.sales_orders.list.total_amount'|trans }}</td>
                                <td>{{ producerBranchOccurrenceSalesOrders.sum|number_format_currency(open_miam_miam.currency) }}</td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            {% else %}
                {% include 'IsicsOpenMiamMiamBundle:Admin:empty.html.twig' with {'message': 'admin.producer.sales_orders.list_history.no_order'|trans} %}
            {%  endif %}
        {% endfor %}
        {{ pagerfanta(branchOccurrences, 'twitter_bootstrap3_translated') }}
    {% else %}
        {% include 'IsicsOpenMiamMiamBundle:Admin:empty.html.twig' with {'message': 'admin.producer.sales_orders.list_history.no_branch_occurrence'|trans} %}
    {% endif %}
{%  endblock content %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {
            new OpenMiamMiam.ProducerSalesOrderFilterForm();
        });
    </script>
{% endblock %}