{% extends 'IsicsOpenMiamMiamBundle:Admin:admin.html.twig' %}

{% block content %}
    <h1>
        {{ 'admin.producer.sales_orders.list_history.title'|trans }}
    </h1>

    {% include '@IsicsOpenMiamMiam/Admin/Producer/SalesOrder/listHistoryFilter.html.twig' with {'form': form} %}

    {% if branchOccurrences|length > 0 %}
        {% for branchOccurrence in branchOccurrences %}
            <h3>{{ branchOccurrence.branch.name }} - {{ branchOccurrence.begin|format_date }}</h3>
            {% set producerBranchOccurrenceSalesOrders = get_producer_sales_orders_for_branch_occurrence(producer, branchOccurrence) %}
            {% if producerBranchOccurrenceSalesOrders.salesOrders|length > 0 %}
                <div class="table-responsive">
                    <table class="table table-bordered table-condensed table-striped">
                        <thead>
                            <tr>
                                <th>Ref</th>
                                <th>Date</th>
                                <th>Consommateur</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for producerSalesOrder in producerBranchOccurrenceSalesOrders.sortedSalesOrder %}
                                <tr>
                                    <td>{{ producerSalesOrder.salesOrder.ref }}</td>
                                    <td>{{ producerSalesOrder.salesOrder.date|format_datetime }}</td>
                                    <td>{{ producerSalesOrder.salesOrder.user }}</td>
                                    <td>{{ producerSalesOrder.salesOrder.total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                Pas de commandes
            {%  endif %}
        {% endfor %}
        {{ pagerfanta(branchOccurrences, 'twitter_bootstrap3_translated') }}
    {% else %}
        Pas d'occurrences
    {% endif %}
{%  endblock content %}