{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% extends 'IsicsOpenMiamMiamBundle:Admin:admin.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h1>{{ 'admin.producer.sales_orders.list.title'|transchoice(salesOrders|length, {'%nb%': salesOrders|length}) }}</h1>
        </div>
    </div>

    {% for branchOccurrenceSalesOrders in salesOrders.branchOccurrencesSalesOrders %}
        <h2>
            {{ branchOccurrenceSalesOrders.branchOccurrence.branch.name }}
            - {{ branchOccurrenceSalesOrders.branchOccurrence.begin|format_date }}
        </h2>

        {% if branchOccurrenceSalesOrders.salesOrders|length > 0 %}

            <p>
                <form class="form-inline" role="form" data-type="action-in-select">
                    <div class="form-group">
                        <select class="form-control input-md">
                            <option value="{{ path('open_miam_miam.admin.producer.sales_order.get_products_to_prepare_pdf_for_branch_occurrence', {'id': producer.id, 'branchOccurrenceId': branchOccurrenceSalesOrders.branchOccurrence.id}) }}">{{ 'admin.producer.sales_orders.list.export.products_to_prepare'|trans }}</option>
                            <option value="{{ path('open_miam_miam.admin.producer.sales_order.get_sales_orders_pdf_for_branch_occurrence', {'id': producer.id, 'branchOccurrenceId': branchOccurrenceSalesOrders.branchOccurrence.id}) }}">{{ 'admin.producer.sales_orders.list.export.sales_orders'|trans }}</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary btn-md">
                        <span class="glyphicon glyphicon-open"></span>
                        {{ 'admin.producer.sales_orders.list.export'|trans }}
                    </button>
                </form>
            </p>

            <div class="table-responsive">
                <table class="table table-bordered table_condensed table-striped table-producer-sales-orders">
                    <thead>
                        <tr>
                            <th>{{ 'admin.producer.sales_orders.list.ref'|trans }}</th>
                            <th>{{ 'admin.producer.sales_orders.list.date'|trans }}</th>
                            <th>{{ 'admin.producer.sales_orders.list.consumer'|trans }}</th>
                            <th>{{ 'admin.producer.sales_orders.list.producer_total'|trans }}</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for producerSalesOrder in branchOccurrenceSalesOrders.salesOrders %}
                            {% set canBeEdit = can_be_edit(producerSalesOrder.salesOrder) %}
                            <tr>
                                <td>
                                    {% if canBeEdit %}
                                        <a href="{{ path('open_miam_miam.admin.producer.sales_order.edit', {'id': producer.id, 'salesOrderId': producerSalesOrder.salesOrder.id}) }}">
                                    {% else %}
                                        <a href="{{ path('open_miam_miam.admin.producer.sales_order.view', {'id': producer.id, 'salesOrderId': producerSalesOrder.salesOrder.id}) }}">
                                    {% endif %}
                                        {{ producerSalesOrder.salesOrder.ref }}
                                        </a>
                                    </td>
                                <td>{{ producerSalesOrder.salesOrder.date|format_datetime(null, null, null, constant('IntlDateFormatter::SHORT')) }}</td>
                                <td>
                                    {{ producerSalesOrder.salesOrder.lastname }} {{ producerSalesOrder.salesOrder.firstname|first }}. ({{ producerSalesOrder.salesOrder.user|format_consumer_ref }})
                                    {% if producerSalesOrder.salesOrder is not null and producerSalesOrder.salesOrder.user.phone is not null %}
                                    <br />
                                    {{ 'admin.producer.sales_orders.list.phone'|trans }} 
                                    {{ producerSalesOrder.salesOrder.user.phone }}
                                {% endif %}
                                </td>
                                <td>{{ producerSalesOrder.total|number_format_currency(open_miam_miam.currency) }}</td>
                                <td>
                                    {% if canBeEdit %}
                                        <a href="{{ path('open_miam_miam.admin.producer.sales_order.edit', {'id': producer.id, 'salesOrderId': producerSalesOrder.salesOrder.id}) }}" class="btn btn-primary btn-xs" title="{{ 'admin.producer.sales_orders.list.edit'|trans }}"><span class="glyphicon glyphicon-pencil"></span></a>
                                    {% else %}
                                        <a href="{{ path('open_miam_miam.admin.producer.sales_order.view', {'id': producer.id, 'salesOrderId': producerSalesOrder.salesOrder.id}) }}" class="btn btn-primary btn-xs" title="{{ 'admin.producer.sales_orders.list.view'|trans }}"><span class="glyphicon glyphicon-pencil"></span></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            {% include 'IsicsOpenMiamMiamBundle:Admin:empty.html.twig' with {'message': 'admin.producer.sales_orders.list.no_order'|trans} %}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {
            new OpenMiamMiam.ActionInSelectForm();
        });
    </script>
{% endblock %}
