{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% import "IsicsOpenMiamMiamBundle:Macro:product.html.twig" as product_macro %}

<tr id="product-{{ product.id }}">
    <td>{{ product.name }}</td>
    <td>{{ product.price|number_format_currency(open_miam_miam.currency) }}</td>
    <td>
        {% set availabilityInfos = get_product_availability(order.branchOccurrence, product) %}
        {{ product_macro.availability_tag(availabilityInfos, 'backend.') }}
    </td>
    <td>
        {% if availabilityInfos.isAvailable %}
            <a href="{{ path('open_miam_miam.admin.producer.sales_order.add_product', {'id': producer.id, 'salesOrderId': order.id, 'productId': product.id}) }}" class="add-product-link btn btn-primary">
                <span class="glyphicon glyphicon-plus-sign"></span>
                {{ 'admin.producer.sales_orders.add_products.add'|trans }}
            </a>
        {% endif %}
    </td>
</tr>
