{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% form_theme form _self 'IsicsOpenMiamMiamBundle::form.html.twig' %}

{{ form_start(form, {'attr': {'id': 'open_miam_miam_admin_newsletter_form'}}) }}

    {{ form_errors(form) }}

    <div class="panel panel-default">
        <div class="panel-body">
            {{ form_label(form.recipientType, 'admin.association.newsletter.form.recipients'|trans) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_errors(form.branches) }}
                    {{ form_widget(form.branches) }}
                </div>
                <div class="col-md-6">
                    {{ form_errors(form.recipientType) }}
                    {{ form_widget(form.recipientType) }}
                </div>
            </div>
        </div>
    </div>

    {{ form_row(form.subject, {'label': 'admin.association.newsletter.form.subject'|trans}) }}

    {{ form_row(form.body, {'label': 'admin.association.newsletter.form.body'|trans, 'attr': {'rows': 10, 'class': 'tinymce'}}) }}

    <div class="send-newsletter-button">
        <button type="submit" class="btn btn-primary btn-lg" />
            <span class="glyphicon glyphicon-envelope"></span>
            {{ 'admin.association.newsletter.form.send_test'|trans }}
        </button>
    </div>
    {% do form.send.setRendered %}

{{ form_end(form) }}