{% extends "IsicsOpenMiamMiamBundle:Admin:base.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1>{% trans %}admin.login.title{% endtrans %}</h1>

            {% if error %}
                <div class="alert alert-danger">{{ error|trans({}, 'FOSUserBundle') }}</div>
            {% endif %}

            <form action="{{ path("open_miam_miam_user.admin.security.login_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                <label for="username">{{ 'admin.login.email.label'|trans }}</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control input-lg" />

                <label for="password">{{ 'admin.login.password.label'|trans }}</label>
                <input type="password" id="password" name="_password" required="required" class="form-control input-lg" />

                <label for="remember_me">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                </label>

                <input type="submit" id="_submit" name="_submit" value="{{ 'admin.login.submit'|trans }}" class="btn btn-lg btn-primary btn-block" />
            </form>
        </div>
    </div>
{% endblock content %}
