{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% extends 'IsicsOpenMiamMiamBundle:Admin:admin.html.twig' %}

{% form_theme form _self 'IsicsOpenMiamMiamBundle::form.html.twig' %}

{% block content %}
    <h1>{{ 'admin.association.producers.edit.title'|trans({'%producer_name%': associationHasProducer.producer.name}) }}</h1>

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        <div class="row-fluid control-group">
            {{ form_errors(form.commission) }}
            {{ form_label(form.commission) }}
            {{ form_widget(form.commission) }}
            <p class="help-block">
                {{ 'admin.association.producers.form.commission.helper'|trans({
                    '%default_commission%': associationHasProducer.association.defaultCommission
                }) }}
            </p>
        </div>

        <div class="row-fluid control-group">
            {{ form_errors(form.producer.branches) }}
            {{ form_label(form.producer.branches, 'admin.association.producers.form.branches'|trans) }}
            {{ form_widget(form.producer.branches) }}
        </div>

        <a href="{{ path('open_miam_miam.admin.association.producer.list', {'id': associationHasProducer.association.id}) }}" class="pull-right">{{ 'admin.return'|trans }}</a>

        <button type="submit" class="btn btn-primary btn-lg" />
            <span class="glyphicon glyphicon-floppy-save"></span>
            {{ 'admin.save'|trans }}
        </button>
        {% do form.save.setRendered %}

    {{ form_end(form) }}

{% endblock %}