{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% extends 'IsicsOpenMiamMiamBundle::base.html.twig' %}

{% block header %}
    <div class="row">
        <div id="header-logo">
            OpenMiamMiam
        </div>

        <div id="header-branch-name">
            <a href="{{ path('open_miam_miam_branch_homepage', {'branch_slug': branch.slug}) }}"><strong>{{ branch.name }}</strong></a>
            <a href="{{ path('open_miam_miam_homepage') }}" id="header-branch-change-link">{{ 'zone.header.branch.change'|trans }}</a>
        </div>

        {{ render(controller('IsicsOpenMiamMiamBundle:Cart:Summarize', {'branch': branch})) }}
    </div>
{% endblock %}

{% block global_content %}
    <div class="row">
        <div class="col-md-3" role="navigation">
            {{ render(controller('IsicsOpenMiamMiamBundle:Catalog:ShowCategories', {'branch': branch})) }}
            {{ render(controller('IsicsOpenMiamMiamBundle:Branch:ShowRandomProducers', {'branch': branch, limit: 5})) }}
            {{ render(controller('IsicsOpenMiamMiamBundle:Branch:ShowNextOccurrences', {'branch': branch, limit: 5})) }}
            {% include 'IsicsOpenMiamMiamBundle:Branch:location.html.twig' with {'branch': branch} %}
        </div>
        <div class="col-md-9" role="main">
            {% include 'IsicsOpenMiamMiamBundle::messages.html.twig' %}
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}

