{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% extends 'IsicsOpenMiamMiamBundle::base.html.twig' %}

{% block title %}{{ branch.name }}{% endblock %}

{% block header %}
    <header>
        <div id="header-logo">
            <a href="{{ path('open_miam_miam.homepage') }}">{% include 'IsicsOpenMiamMiamBundle::baseLogo.html.twig' %}</a>
        </div>

        {% if homepage is not defined %}
            {% set homepage=false %}
        {% endif %}
        {{ render(controller('IsicsOpenMiamMiamBundle:Cart:Summarize', {'branch': branch, 'homepage': homepage})) }}
    </header>
{% endblock %}

{% block global_content %}
    <div class="row">
        <div class="col-md-3" role="navigation">
            {{ render(controller('IsicsOpenMiamMiamBundle:Catalog:ShowCategories', {'branch': branch})) }}
            {{ render(controller('IsicsOpenMiamMiamBundle:Branch:ShowRandomProducers', {'branch': branch, limit: 5})) }}
            {{ render(controller('IsicsOpenMiamMiamBundle:Branch:ShowNextOccurrences', {'branch': branch, limit: 3})) }}
            {% include 'IsicsOpenMiamMiamBundle:Branch:location.html.twig' with {'branch': branch} %}
        </div>
        <div class="col-md-9" role="main">
            {% include 'IsicsOpenMiamMiamBundle::messages.html.twig' %}
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer>
        <hr />
        <div class="container">
            {% include 'IsicsOpenMiamMiamBundle::copyright.html.twig' %}
        </div>
    </footer>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script type="text/javascript">
        $(function() {
            new OpenMiamMiam.LocationMap(
                '{{ branch.name }}',
                '{{ 'zone.location.route_link'|trans }}',
                '{{ branch.address1 }}',
                '{{ branch.address2 }}',
                '{{ branch.zipcode }}',
                '{{ branch.city }}',
                'FRANCE' {#todo add openmiammiam.country param#}
            );
        });
    </script>
{% endblock %}
