{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% extends 'IsicsOpenMiamMiamBundle::base.html.twig' %}

{% block title %}{{ branch.name }}{% endblock %}

{% block header %}
    <header>
        <div id="header-logo">
            {% include 'IsicsOpenMiamMiamBundle::baseLogo.html.twig' %}
        </div>
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
		<script type="text/javascript">
			window.onload = function() {
				
				var myMarker = null;
			 
				var myLatlng = new google.maps.LatLng(-58.397, 15.644);
			 
				var myOptions = {
					zoom: 15,
					center: myLatlng,
					mapTypeId: google.maps.MapTypeId.ROADMAP
				};
			 
				var myMap = new google.maps.Map(
					document.getElementById('map'),
					myOptions
				);
			 
				var GeocoderOptions = {
				    'address' : '{{ branch.address1 }}, {{ branch.zipcode }},{{ branch.city }}',
				    'region' : 'FR'
				}
			
				function GeocodingResult( results , status )
				{
			
				  if( status == google.maps.GeocoderStatus.OK ) {
			 
				    if(myMarker != null) {
				      myMarker.setMap(null);
				    }
			 
				    myMarker = new google.maps.Marker({
				      position: results[0].geometry.location,
				      map: myMap,
				      title: "{{ branch.name }}"
				    });
			 
				    myMap.setCenter(results[0].geometry.location);
				  } 
				} 
				var myGeocoder = new google.maps.Geocoder();
				myGeocoder.geocode( GeocoderOptions, GeocodingResult );
			}
		</script>
        <div id="header-main">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="header-main-body">
                        <div id="header-branch-name">
                            {% block header_branch_name %}
                                <strong>{{ branch.name }}</strong>
                            {% endblock %}
                            <a href="{{ path('open_miam_miam.homepage') }}" id="header-branch-change-link">{{ 'zone.header.branch.change'|trans }}</a>
                        </div>

                        {{ render(controller('IsicsOpenMiamMiamBundle:Cart:Summarize', {'branch': branch})) }}
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block global_content %}
    <div class="row">
        <div class="col-md-3" role="navigation">
            {{ render(controller('IsicsOpenMiamMiamBundle:Catalog:ShowCategories', {'branch': branch})) }}
            {{ render(controller('IsicsOpenMiamMiamBundle:Branch:ShowRandomProducers', {'branch': branch, limit: 5})) }}
            {{ render(controller('IsicsOpenMiamMiamBundle:Branch:ShowNextOccurrences', {'branch': branch, limit: 5})) }}
            {% include 'IsicsOpenMiamMiamBundle:Branch:location.html.twig' with {'branch': branch} %}
        </div>
        <div class="col-md-9" role="main">
            {% include 'IsicsOpenMiamMiamBundle::messages.html.twig' %}
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}
