{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
<div id="location" class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title"><span class="glyphicon glyphicon-road"></span> {{ 'zone.location.title'|trans }}</h2>
    </div>
    <div class="panel-body">
        {{ branch.address1 }}<br />
        {% if branch.address2 is not null %}{{ branch.address2 }}<br />{% endif %}
        {{ branch.zipcode }}
        {{ branch.city }}
    </div>
</div>