{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% import "IsicsOpenMiamMiamBundle:Macro:specialty.html.twig" as specialty_macro %}

<div id="producers" class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title"><span class="glyphicon glyphicon-user"></span> {{ 'zone.producers.title'|trans }}</h2>
    </div>
    <ul class="list-group">
    {% for producer in producers %}
        <li class="list-group-item">
            <a href="{{ path('open_miam_miam.producer', {'producerSlug': producer.slug}) }}">
                {{ producer }} {{ specialty_macro.badge(producer) }}
            </a>
        </li>
    {% endfor %}
    </ul>
    <div class="panel-footer">
        <a href="{{ path('open_miam_miam.branch.producers', {'branchSlug': branch.slug}) }}">{{ 'zone.producers.link'|trans }}</a>
    </div>
</div>