{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% embed 'IsicsOpenMiamMiamBundle:Branch:base.html.twig' with {'branch': branch} %}
    {% block content %}
        <h1>{{ 'branch.producers.title'|trans({'%name%': branch.name}) }}</h1>

        <div class="table-responsive">
            <table class="table table-bordered table-striped table-branch-producers">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>{{ 'branch.producers.name'|trans }}</th>
                        <th>{{ 'branch.producers.zipcode'|trans }}</th>
                        <th>{{ 'branch.producers.city'|trans }}</th>
                        <th>{{ 'branch.producers.phone_number1'|trans }}</th>
                        <th>{{ 'branch.producers.phone_number2'|trans }}</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {% for producer in producers %}
                        <tr>
                            <td>
                                {% if producer.profileImage is not null %}
                                    <img src="{{ asset(get_producer_profile_image_path(producer))|imagine_filter('s') }}" class="img-circle" alt="{{ producer.name }}" />
                                {% endif %}
                            </td>
                            <td>
                                {{ producer.name }}
                            </td>
                            <td>
                                {{ producer.zipcode }}
                            </td>
                            <td>
                                {{ producer.city }}
                            </td>
                            <td>
                                {{ producer.phoneNumber1 }}
                            </td>
                            <td>
                                {{ producer.phoneNumber2 }}
                            </td>
                            <td>
                                <a href="{{ path('open_miam_miam.producer', {'producerSlug': producer.slug}) }}">
                                    {{ 'branch.producers.more'|trans }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endblock %}
{% endembed %}