{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% embed 'IsicsOpenMiamMiamBundle:Branch:base.html.twig' with {'branch': branch, 'homepage': false} %}
    {% block content %}
        <h1>
            <span class="glyphicon glyphicon-calendar"></span>
            {{ 'branch_attendance_calendar.title'|trans }}
        </h1>

        {% if producers|length == 0 %}
            {% include '@IsicsOpenMiamMiam/empty.html.twig' with {'message': 'branch_attendance_calendar.no_producer'|trans} %}
        {% elseif branchOccurrences|length == 0 %}
            {% include '@IsicsOpenMiamMiam/empty.html.twig' with {'message': 'branch_attendance_calendar.no_occurrence'|trans} %}
        {% else %}
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-branch-producers-attendance">
                    <thead>
                        <tr>
                            <th></th>
                            {% for occurrence in branchOccurrences %}
                                <th class="text-center">
                                    <div>{{ occurrence.begin|localizeddate(format='EEEE') }}</div>
                                    <div>{{ occurrence.begin|localizeddate(format='dd') }}</div>
                                    <div>{{ occurrence.begin|localizeddate(format='MMMM') }}</div>
                                </th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for producer in producers %}
                            <tr>
                                <td><a href="{{ path('open_miam_miam.producer', {'producerSlug': producer.slug}) }}">{{ producer.name }} <span class="badge">{{ producer.specialty }}</span></a></td>
                                {% for occurrence in branchOccurrences %}
                                    <td class="text-center">
                                        {% if occurrence.isProducerAttendee(producer) %}
                                            <span class="glyphicon glyphicon-ok"></span>
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    {% endblock %}
{% endembed %}
