{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% extends 'IsicsOpenMiamMiamUserBundle:Profile:base.html.twig' %}

{% form_theme form _self 'IsicsOpenMiamMiamBundle::form.html.twig' %}

{% block content %}
    <h1>{{ 'user.edit.title'|trans }}</h1>

    <div class="row">
        <div class="col-md-8">
            {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.firstname, {'label': 'user.edit.firstname', 'attr': {'class': 'input-lg'}}) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.lastname, {'label': 'user.edit.lastname', 'attr': {'class': 'input-lg'}}) }}
                    </div>
                </div>
                {{ form_row(form.address1, {'label': 'user.edit.address1'}) }}
                {{ form_row(form.address2, {'label': 'user.edit.address2'}) }}
                <div class="row">
                    <div class="col-md-4">
                        {{ form_row(form.zipcode, {'label': 'user.edit.zipcode'}) }}
                    </div>
                    <div class="col-md-8">
                        {{ form_row(form.city, {'label': 'user.edit.city'}) }}
                    </div>
                </div>
                {{ form_row(form.phoneNumber, {'label': 'user.edit.phone_number'}) }}
                {{ form_row(form.isNewsletterSubscriber, {'label': 'user.edit.is_newsletter_subscriber'}) }}
                {{ form_row(form.isOrdersOpenNotificationSubscriber, {'label': 'user.edit.is_orders_open_notification_subscriber'}) }}
                <div class="well">
                    <button type="submit" class="btn btn-primary btn-lg">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                        {{ 'user.edit.submit'|trans }}
                    </button>
                    <a href="{{ path('fos_user_change_password') }}" class="btn btn-default btn-lg">
                        <span class="glyphicon glyphicon-lock"></span>
                        {{ 'user.change_password'|trans }}
                    </a>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock content %}