<div id="activity-stream" class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title">
            <span class="glyphicon glyphicon-list"></span>
            {{ 'admin.activity_stream.title'|trans }}
        </h2>
    </div>
    <div>
        <dl class="dl-horizontal">
            {% for activity in activities %}
                <dt>{{ activity.date|format_datetime }}</dt>
                <dd>
                    {% if activity.userName == null %}
                        {{ 'system'|trans }}
                    {% else %}
                        {{ activity.userName }}
                    {% endif %}
                    {{ activity.transKey|trans(activity.transParams) }}
                </dd>
            {% endfor %}
        </dl>
    </div>
</div>