<h2>{{ 'admin.activity_stream.title'|trans }}</h2>

<dl class="dl-horizontal">
    {% for activity in activities %}
        <dt>{{ activity.date|format_datetime }}</dt>
        <dd>
            {% if activity.userName == null %}
                {{ 'system'|trans }}
            {% else %}
                {{ activity.userName }}
            {% endif %}
            {{ activity.userName }}
            {{ activity.transKey|trans(activity.transParams) }}
        </dd>
    {% endfor %}
</dl>
