{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
<!DOCTYPE html>
<html>
    <head>
        <title>{{ open_miam_miam.title }} - {{ 'admin.title'|trans }}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheet %}
            {% stylesheets
                '@IsicsOpenMiamMiamBundle/Resources/assets/less/bootstrap.less'
                'css/jquery-ui/jquery-ui-1.10.3.custom.min.css'
                '@IsicsOpenMiamMiamBundle/Resources/assets/less/admin.less'
                '@IsicsOpenMiamMiamBundle/Resources/assets/less/datepicker.less'
                filter='?uglifycss'
                output='cache/css/*.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            {% javascripts
                'js/html5shiv.js'
                'js/respond.min.js'
                filter='?uglifyjs2'
                output='cache/js/*.js'
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        <![endif]-->
        <link rel="icon" type="image/png" href="/favicon.png" />
        <!--[if IE]><link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" /><![endif]-->
    </head>
    <body>
        <header class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header-links">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">{{ open_miam_miam.title }} - {{ 'admin.title'|trans }}</a>
                </div>
                {% if app.user %}
                    <div id="header-links" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{{ path('fos_user_profile_edit') }}">{{ format_user_identity(app.user) }}</a></li>
                            {% if not is_granted('ROLE_PREVIOUS_ADMIN') %}
                                <li><a href="{{ path('open_miam_miam_user.admin.security.logout') }}">{% trans %}logout{% endtrans %} <span class="glyphicon glyphicon-off"></span></a></li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </header>

        <div class="container">
            {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                <div class="alert alert-danger text-center">
                    {{ 'admin.super.user_switch.alert.message'|trans({'%firstname%': format_user_identity(app.user, '%firstname%'), '%lastname%': format_user_identity(app.user, '%lastname%')}) }}
                    <a href="{{ path('open_miam_miam.admin', {'_switch_user':'_exit'}) }}" class="btn btn-danger">
                        <span class="glyphicon glyphicon-transfer"></span> {{ 'admin.super.user_switch.alert.exit'|trans }}
                    </a>
                    <a href="{{ path('open_miam_miam.admin.super.user_switch.list', {'_switch_user':'_exit'}) }}" class="btn btn-danger">
                        <span class="glyphicon glyphicon-transfer"></span> {{ 'admin.super.user_switch.alert.exit'|trans }}
                    </a>
                </div>
            {% endif %}

            {% block global_content %}
                {% block content %}{% endblock %}
            {% endblock %}
        </div>

        <footer>
            <hr />
            <div class="container">
                <small>
                    {% include 'IsicsOpenMiamMiamBundle::copyright.html.twig' %}
                </small>
            </div>
        </footer>

        {% block javascript %}
            {% javascripts
                'js/jquery-1.10.2.min.js'
                'js/jquery-ui-1.10.3.custom.min.js'
                'bootstrap/js/button.js'
                'bootstrap/js/collapse.js'
                'bootstrap/js/modal.js'
                'bootstrap/js/transition.js'
                '@IsicsOpenMiamMiamBundle/Resources/assets/js/bootstrap-datepicker.js'
                '@IsicsOpenMiamMiamBundle/Resources/assets/js/common.js'
                '@IsicsOpenMiamMiamBundle/Resources/assets/js/admin.js'
                filter='?uglifyjs2'
                output='cache/js/*.js'
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
