{% block open_miam_miam_payments_for_allocate_payment_label %}

{% endblock %}

{% block open_miam_miam_payments_for_allocate_payment_widget %}
    <table class="payments">
        {% for child in form %}
            {% set payment = form.vars.choices[child.vars.value].data %}
            <tr class="payment">
                <td class="checkbox">{{ form_widget(child) }}</td>
                <td>
                    <label for="{{ child.vars.id }}">
                        {% set paymentAmount = payment.amount %}
                        {% set paymentRest = payment.rest %}

                        <span class="payment-rest">
                            {{ paymentRest|number_format_currency(open_miam_miam.currency) }}
                        </span>

                        {% if paymentRest < paymentAmount %}
                            <span class="payment-amount">
                                / {{ paymentAmount|number_format_currency(open_miam_miam.currency) }}
                            </span>
                        {% endif %}
                    </label>
                </td>
                <td>
                    <label for="{{ child.vars.id }}">
                        {{ payment.date|date('d/m/Y') }}
                    </label>
                </td>
                <td>
                    <label for="{{ child.vars.id }}">
                        {{ ("admin.association.sales_orders.payment.type_"~payment.type)|trans }}
                    </label>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}

{% block open_miam_miam_payment_row %}
    <table class="new-payment">
        <tr>
            {% if without_checkbox is not defined or without_checkbox == false %}
                <td class="checkbox"></td>
            {% endif %}
            <td>
                <strong>{{ 'admin.association.sales_orders.payment.form.new_payment'|trans }}</strong>
                <div class="new-payment row">
                    <div class="col-md-6">
                        <div class="input-group">
                            {{ form_widget(form.amount, {'attr': {'class': 'form-control'}}) }}
                            <span class="input-group-addon">{{ open_miam_miam.currency|format_currency_symbol }}</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </td>
        </tr>
    </table>
{% endblock %}

{% block open_miam_miam_sales_orders_for_allocate_payment_label %}

{% endblock %}

{% block open_miam_miam_sales_orders_for_allocate_payment_widget %}
    <table class="sales-orders">
        {% for child in form %}
            {% set salesOrder = form.vars.choices[child.vars.value].data %}
            <tr class="sales-order">
                <td class="checkbox">
                    {{ form_widget(child) }}
                </td>
                <td>
                    <label for="{{ child.vars.id }}">
                        {{ salesOrder.ref }}
                    </label>
                </td>
                <td>
                    <label for="{{ child.vars.id }}">
                        {{ salesOrder.date|date('d/m/Y') }}
                    </label>
                </td>
                <td>
                    <label for="{{ child.vars.id }}">
                        {% set salesOrderTotal = salesOrder.total %}
                        {% set salesOrderLeftToPay = salesOrder.leftToPay %}

                        <span class="sales-order-left-to-pay">
                            {{ salesOrderLeftToPay|number_format_currency(open_miam_miam.currency) }}
                        </span>

                        {% if salesOrderLeftToPay < salesOrderTotal %}
                            <span class="sales-order-total">
                                / {{ salesOrderTotal|number_format_currency(open_miam_miam.currency) }}
                            </span>
                        {% endif %}
                    </label>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}