{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form _self 'IsicsOpenMiamMiamBundle::form.html.twig' %}

<div class="row">
    <div class="col-md-4">
        <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
            {{ form_row(form.current_password) }}
            {{ form_row(form.plainPassword) }}
            <div>
                <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-primary" />
            </div>
            {{ form_rest(form) }}
        </form>
    </div>
</div>
