{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form _self 'IsicsOpenMiamMiamBundle::form.html.twig' %}

<div class="row">
    <div class="col-md-8">
        <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
            {{ form_row(form.current_password) }}
            {{ form_row(form.plainPassword) }}
            <div class="well">
                <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-default btn-lg">
                    {{ 'change_password.cancel'|trans }}
                </a>
                <button type="submit" class="btn btn-primary btn-lg">
                    <span class="glyphicon glyphicon-lock"></span>
                    {{ 'change_password.submit'|trans }}
                </button>
            </div>

            {{ form_rest(form) }}
        </form>
    </div>
</div>
