{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% extends "IsicsOpenMiamMiamBundle::minimal.html.twig" %}

{% block title %}{{ 'registration.confirmation.title'|trans({}, 'seo') }}{% endblock %}

{% block content %}
    <h1>{{ 'user.register.confirmed.title'|trans({'%firstname%': format_user_identity(user, '%firstname%'), '%lastname%': format_user_identity(user, '%lastname%'), '%email%': user.email}) }}</h1>
    {{ 'user.register.confirmed.body_html'|trans({'%firstname%': format_user_identity(user, '%firstname%'), '%lastname%': format_user_identity(user, '%lastname%'), '%email%': user.email})|raw }}
    {% if app.session is not empty %}
        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
        {% if targetUrl is not empty %}
            <p>
                <a href="{{ targetUrl }}" class="btn btn-primary btn-lg">
                    <span class="glyphicon glyphicon-circle-arrow-right"></span>
                    {{ 'user.register.confirmed.next'|trans }}
                </a>
            </p>
        {% endif %}
    {% endif %}
{% endblock content %}
