{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
{% extends "IsicsOpenMiamMiamBundle::minimal.html.twig" %}

{% form_theme form _self 'IsicsOpenMiamMiamBundle::form.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">{{ 'user.register.title'|trans }}</h1>
                </div>
                <div class="panel-body">
                    {{ form_start(form) }}
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(form.firstname, {'label': 'user.register.firstname', 'label_as_placeholder': true, 'attr': {'class': 'input-lg'}}) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(form.lastname, {'label': 'user.register.lastname', 'label_as_placeholder': true, 'attr': {'class': 'input-lg'}}) }}
                            </div>
                        </div>
                        {{ form_row(form.email, {'label': 'user.register.email', 'label_as_placeholder': true, 'attr': {'class': 'input-lg'}}) }}
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(form.plainPassword.first, {'label': 'user.register.password', 'label_as_placeholder': true, 'attr': {'class': 'input-lg'}}) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(form.plainPassword.second, {'label': 'user.register.password_confirmation', 'label_as_placeholder': true, 'attr': {'class': 'input-lg'}}) }}
                            </div>
                        </div>
                        {{ form_row(form.address1, {'label': 'user.register.address1', 'label_as_placeholder': true}) }}
                        {{ form_row(form.address2, {'label': 'user.register.address2', 'label_as_placeholder': true}) }}
                        <div class="row">
                            <div class="col-md-4">
                                {{ form_row(form.zipcode, {'label': 'user.register.zipcode', 'label_as_placeholder': true}) }}
                            </div>
                            <div class="col-md-8">
                                {{ form_row(form.city, {'label': 'user.register.city', 'label_as_placeholder': true}) }}
                            </div>
                        </div>
                        {{ form_row(form.phone, {'label': 'user.register.phone', 'label_as_placeholder': true}) }}
                    </div>
                    <div class="panel-footer text-right">
                        <a href="{{ path('open_miam_miam.homepage') }}" class="btn btn-default btn-lg">
                            {{ 'user.register.cancel'|trans }}
                        </a>
                        <button type="submit" class="btn btn-primary btn-lg">
                            <span class="glyphicon glyphicon-circle-arrow-right"></span>
                            {{ 'user.register.submit'|trans }}
                        </button>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock content %}
